In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sales = pd.read_csv('../sales_subset.csv', index_col=0)

In [3]:
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

we can see
1. there are no missing values
2. total of 9 columns
3. data types of each columns
4. total num of rows: 10774

In [5]:
sales.shape

(10774, 9)

In [6]:
sales.describe()

,store,department,weekly_sales,temperature_c,fuel_price_usd_per_l,unemployment
count,10774.000000,10774.000000,10774.000000,10774.000000,10774.000000,10774.000000
mean,15.441897,45.218118,23843.950149,15.731978,0.749746,8.082009
std,11.534511,29.867779,30220.387557,9.922446,0.059494,0.624355
min,1.000000,1.000000,-1098.000000,-8.366667,0.664129,3.879000
25%,4.000000,20.000000,3867.115000,7.583333,0.708246,7.795000
50%,13.000000,40.000000,12049.065000,16.966667,0.743381,8.099000
75%,20.000000,72.000000,32349.850000,24.166667,0.781421,8.360000
max,39.000000,99.000000,293966.050000,33.827778,1.107674,9.765000

we can see lots of stats for each columns
1. min temp is -8 and max is 33, where average temp is 15
2. weekly sale min is -1098, max is 293966 and average is 23843

let's see dataset in 2d numpy array

In [7]:
sales.values

array([[1, 'A', 1, ..., 5.727777777777779, 0.6794508388787476, 8.106],
       [1, 'A', 1, ..., 8.055555555555555, 0.693451964252221, 8.106],
       [1, 'A', 1, ..., 16.81666666666667, 0.718284148876872, 7.808],
       ...,
       [39, 'A', 99, ..., 27.28888888888889, 0.911922354513778, 6.989],
       [39, 'A', 99, ..., 25.64444444444444, 0.8601446078496121,
        6.622999999999999],
       [39, 'A', 99, ..., 22.25, 0.955510763695346, 6.228]], dtype=object)

feature names

In [8]:
sales.columns

Index(['store', 'type', 'department', 'date', 'weekly_sales', 'is_holiday',
       'temperature_c', 'fuel_price_usd_per_l', 'unemployment'],
      dtype='object')

index ranges

In [10]:
sales.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10764, 10765, 10766, 10767, 10768, 10769, 10770, 10771, 10772,
            10773],
           dtype='int64', length=10774)