In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
temp = pd.read_csv('../temperatures.csv', index_col = 0)
temp.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [3]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16500 entries, 0 to 16499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        16500 non-null  object
 1   city        16500 non-null  object
 2   country     16500 non-null  object
 3   avg_temp_c  16407 non-null  float64
dtypes: float64(1), object(3)
memory usage: 644.5+ KB

we see
1. no missing values in date, city and country column
2. missing values in avg_temp_c column

In [4]:
temp.describe()

         avg_temp_c
count  16407.000000
mean      19.732877
std        9.579635
min      -23.495000
25%       14.870000
50%       22.119000
75%       27.001500
max       38.283000

we see
1. min temp: -23
2. max temp: 38
3. mean temp: 19

In [5]:
temp.shape

(16500, 4)

In [6]:
temp.values

array([['2000-01-01', 'Abidjan', "Côte D'Ivoire", 27.29300000000001],
       ['2000-02-01', 'Abidjan', "Côte D'Ivoire", 27.685],
       ['2000-03-01', 'Abidjan', "Côte D'Ivoire", 29.061],
       ...,
       ['2013-07-01', 'Xian', 'China', 25.251],
       ['2013-08-01', 'Xian', 'China', 24.528],
       ['2013-09-01', 'Xian', 'China', nan]], dtype=object)

In [7]:
temp.columns

Index(['date', 'city', 'country', 'avg_temp_c'], dtype='object')

In [8]:
temp.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            16490, 16491, 16492, 16493, 16494, 16495, 16496, 16497, 16498,
            16499],
           dtype='int64', length=16500)