# SORTING PROBLEMS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
homeless = pd.read_csv('../../homelessness.csv', index_col=0)

In [3]:
homeless.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

## 1. Sort by State Name:
Problem: Sort the dataset by the state column in ascending order.

Questions:

1.	Which state comes first in alphabetical order?

2.	Which state comes last in alphabetical order?

3.	What is the 10th state in alphabetical order?

4.	How many states start with the letter 'A'?

In [4]:
homeless_state_asc = homeless.sort_values('state')
homeless_state_asc.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [5]:
# 1. Which state comes first in alphabetical order?
first_state = 'Alabama'

In [6]:
# 2. Which state comes last in alphabetical order?
last_state = homeless_state_asc.iloc[-1, 1]
print(last_state)
homeless_state_asc.tail(1)

Wyoming

      region    state  individuals  family_members  state_pop
50  Mountain  Wyoming        434.0           205.0     577601

In [7]:
# 3.What is the 10th state in alphabetical order?
state_10th = homeless_state_asc.iloc[9, 1]
print(state_10th)
homeless_state_asc.head(10)

Florida

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317

In [8]:
# 4.	How many states start with the letter 'A'?

count_state_with_a = homeless_state_asc['state'].str.startswith('A').sum()
print(count_state_with_a)
homeless_state_asc[homeless_state_asc['state'].str.startswith('A')]

4

               region     state  individuals  family_members  state_pop
0  East South Central   Alabama       2570.0           864.0    4887681
1             Pacific    Alaska       1434.0           582.0     735139
2            Mountain   Arizona       7259.0          2606.0    7158024
3  West South Central  Arkansas       2280.0           432.0    3009733

## 2.	Sort by Number of Individuals:
o	Problem: Sort the dataset by the individuals column in descending order.

o	Questions:

1.	Which state has the highest number of homeless individuals?

2.	What is the number of homeless individuals in the state with the second-highest count?

3.	Which state has the lowest number of homeless individuals?

4.	How many states have more than 5,000 homeless individuals?

In [9]:
homeless_indiv_desc = homeless.sort_values('individuals', ascending=False)
homeless_indiv_desc.head()

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
9       South Atlantic     Florida      21443.0          9587.0   21244317
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [10]:
# 1.	Which state has the highest number of homeless individuals?
state_high_homeless = homeless_indiv_desc.iloc[0, 1]
print(state_high_homeless)
homeless_indiv_desc.iloc[0, 1]

California

'California'

In [11]:
# 2.	What is the number of homeless individuals in the state with the second-highest count?
state_2nd_high_homeless = homeless_indiv_desc.iloc[1, 2]
print(state_2nd_high_homeless)

39827.0

In [12]:
# 3.	Which state has the lowest number of homeless individuals?
state_with_low_homeless_indiv = homeless_indiv_desc.iloc[-1, 1]
print(state_with_low_homeless_indiv)
homeless_indiv_desc.tail(1)

Wyoming

      region    state  individuals  family_members  state_pop
50  Mountain  Wyoming        434.0           205.0     577601

In [13]:
# 4.	How many states have more than 5,000 homeless individuals?
states_with_5000_homeless_indiv = (homeless_indiv_desc['individuals'] > 5000).sum()
print(states_with_5000_homeless_indiv)

homeless_indiv_desc[homeless_indiv_desc['individuals'] > 5000].head()

18

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
9       South Atlantic     Florida      21443.0          9587.0   21244317
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

## 3.	Sort by Family Members:
o	Problem: Sort the dataset by the family_members column in ascending order.
o	Questions:

1.	Identify the state with the fewest family members who are homeless.

2.	How many states have fewer than 500 homeless family members?

3.	Which state has the highest number of homeless family members?

4.	What is the median number of homeless family members across all states?

In [14]:
homeless_fam_asc = homeless.sort_values('family_members')
homeless_fam_asc.head()

                region          state  individuals  family_members  state_pop
34  West North Central   North Dakota        467.0            75.0     758080
50            Mountain        Wyoming        434.0           205.0     577601
48      South Atlantic  West Virginia       1021.0           222.0    1804291
41  West North Central   South Dakota        836.0           323.0     878698
24  East South Central    Mississippi       1024.0           328.0    2981020

In [15]:
# 1.	Identify the state with the fewest family members who are homeless.
state_least_homeless_fam = homeless_fam_asc.iloc[0, 1]
print(state_least_homeless_fam)
homeless_fam_asc.iloc[0, 1]

North Dakota

'North Dakota'

In [16]:
# 2.	How many states have fewer than 500 homeless family members?
count_state_500_hl_fam = (homeless_fam_asc['family_members'] < 500).sum()
print(count_state_500_hl_fam)
homeless_fam_asc[homeless_fam_asc['family_members'] < 500]

10

                region          state  individuals  family_members  state_pop
34  West North Central   North Dakota        467.0            75.0     758080
50            Mountain        Wyoming        434.0           205.0     577601
48      South Atlantic  West Virginia       1021.0           222.0    1804291
41  West North Central   South Dakota        836.0           323.0     878698
24  East South Central    Mississippi       1024.0           328.0    2981020
39         New England   Rhode Island        747.0           354.0    1058287
7       South Atlantic       Delaware        708.0           374.0     965479
26            Mountain        Montana        983.0           422.0    1060665
3   West South Central       Arkansas       2280.0           432.0    3009733
28            Mountain         Nevada       7058.0           486.0    3027341

In [17]:
#  3.	Which state has the highest number of homeless family members?
state_high_hl_fam = homeless_fam_asc.iloc[-1, 1]
print(state_high_hl_fam)
homeless_fam_asc.tail(1)

New York

          region     state  individuals  family_members  state_pop
32  Mid-Atlantic  New York      39827.0         52070.0   19530351

In [18]:
# 4.	What is the median number of homeless family members across all states?
median_hl_fm = homeless_fam_asc['family_members'].median()
print(median_hl_fm)

1482.0

## 4.	Sort by State Population:
o	Problem: Sort the dataset by the state_pop column in descending order.

o	Questions:

1.	What are the top three states with the largest populations?

2.	Which state has the smallest population?

3.	How many states have a population greater than 10 million?

4.	What is the total population of the top five states?

In [19]:
homeless_st_pop_desc = homeless.sort_values('state_pop', ascending=False)
homeless_st_pop_desc.head()

                region         state  individuals  family_members  state_pop
4              Pacific    California     109008.0         20964.0   39461588
43  West South Central         Texas      19199.0          6111.0   28628666
9       South Atlantic       Florida      21443.0          9587.0   21244317
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922

In [20]:
# 1.	What are the top three states with the largest populations?
top_3 = homeless_st_pop_desc.head(3)
top_3
top_3_state = []
for lab, row in top_3.iterrows():
    top_3_state.append(row['state'])
print(top_3_state)

['California', 'Texas', 'Florida']

In [24]:
# 2.	Which state has the smallest population?
st_sm_pop = homeless_st_pop_desc.iloc[-1, 1]
print(st_sm_pop)
homeless_st_pop_desc.tail(1)

Wyoming

      region    state  individuals  family_members  state_pop
50  Mountain  Wyoming        434.0           205.0     577601

In [25]:
# 3.	How many states have a population greater than 10 million?
count_st_pop_10m = (homeless_st_pop_desc['state_pop'] > 10000000).sum()
print(count_st_pop_10m)
homeless_st_pop_desc[homeless_st_pop_desc['state_pop'] > 10000000]

9

                region           state  individuals  family_members  state_pop
4              Pacific      California     109008.0         20964.0   39461588
43  West South Central           Texas      19199.0          6111.0   28628666
9       South Atlantic         Florida      21443.0          9587.0   21244317
32        Mid-Atlantic        New York      39827.0         52070.0   19530351
38        Mid-Atlantic    Pennsylvania       8163.0          5349.0   12800922
13  East North Central        Illinois       6752.0          3891.0   12723071
35  East North Central            Ohio       6929.0          3320.0   11676341
10      South Atlantic         Georgia       6943.0          2556.0   10511131
33      South Atlantic  North Carolina       6451.0          2817.0   10381615

In [26]:
# 4.	What is the total population of the top five states?
total_pop = homeless_st_pop_desc['state_pop'].head().sum()
print(total_pop)
homeless_st_pop_desc.head(5)

121665844

                region         state  individuals  family_members  state_pop
4              Pacific    California     109008.0         20964.0   39461588
43  West South Central         Texas      19199.0          6111.0   28628666
9       South Atlantic       Florida      21443.0          9587.0   21244317
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922

## 5.	Sort by Region and State:
o	Problem: First, sort by the region column in ascending order, then by the state column within each region.

o	Questions:

1.	What is the first state listed in the East South Central region?

2.	Which region has the most states listed?

3.	What is the last state listed in the Mountain region?

4.	How many states are in the West South Central region?

In [27]:
hl_reg_st_asc = homeless.sort_values(['region', 'state'])
hl_reg_st_asc.head()

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
14  East North Central    Indiana       3776.0          1482.0    6695497
22  East North Central   Michigan       5209.0          3142.0    9984072
35  East North Central       Ohio       6929.0          3320.0   11676341
49  East North Central  Wisconsin       2740.0          2167.0    5807406

In [30]:
# 1.	What is the first state listed in the East South Central region?
esc_1st_St = hl_reg_st_asc[hl_reg_st_asc['region'] == 'East South Central'].iloc[0, 1]
print(esc_1st_St)
hl_reg_st_asc[hl_reg_st_asc['region'] == 'East South Central']

Alabama

                region        state  individuals  family_members  state_pop
0   East South Central      Alabama       2570.0           864.0    4887681
17  East South Central     Kentucky       2735.0           953.0    4461153
24  East South Central  Mississippi       1024.0           328.0    2981020
42  East South Central    Tennessee       6139.0          1744.0    6771631

In [65]:
# 2.	Which region has the most states listed?
# initialize variables to track the region with most states
max_count = 0
current_region=None
current_count = 0
region_l = {}
region_with_most_states = None
last_region = hl_reg_st_asc.iloc[-1, 0]
# print(last_region)
# loop through sorted dataset
for lab, row in hl_reg_st_asc.iterrows():
    if row['region'] != current_region:
        if row['region'] != None:
            region_l[current_region] = current_count
            current_region = row['region']
            current_count = 1
        else:
            current_region = row['region']
            current_count = 1
    elif row['region'] == last_region:
        current_count += 1
        region_l[current_region] = current_count
    else:
        current_count += 1
#     print(current_region, current_count)
# print(region_l)
# for k, v in region_l.items():
#     print(max)
max_v = max(region_l.values())
for k, v in region_l.items():
    if v == max_v:
        print(k, v)
# print((hl_reg_st_asc))
hl_reg_st_asc['region'].value_counts()

South Atlantic 9

South Atlantic        9
Mountain              8
West North Central    7
New England           6
East North Central    5
Pacific               5
East South Central    4
West South Central    4
Mid-Atlantic          3
Name: region, dtype: int64

In [37]:
# 3.	What is the last state listed in the Mountain region?
last_st_mountain = hl_reg_st_asc[hl_reg_st_asc['region'] == 'Mountain'].iloc[-1,1]
print(last_st_mountain)
hl_reg_st_asc[hl_reg_st_asc['region'] == 'Mountain']

Wyoming

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [70]:
# 4.	How many states are in the West South Central region?
count_st_west_south_central_region = (hl_reg_st_asc['region'] == 'West South Central').sum()
print(count_st_west_south_central_region)
hl_reg_st_asc[hl_reg_st_asc['region'] == 'West South Central']

4

                region      state  individuals  family_members  state_pop
3   West South Central   Arkansas       2280.0           432.0    3009733
18  West South Central  Louisiana       2540.0           519.0    4659690
36  West South Central   Oklahoma       2823.0          1048.0    3940235
43  West South Central      Texas      19199.0          6111.0   28628666

## 6.	Sort by Individuals per Capita:
o	Problem: Add a new column for homeless individuals per capita (individuals/state_pop), then sort by this new column in descending order.

o	Questions:

1.	Which state has the highest number of homeless individuals per capita?

2.	What is the per capita rate for the state with the second-highest number?

3.	Which state has the lowest number of homeless individuals per capita?

4.	How many states have a per capita rate higher than 0.001?

In [71]:
homeless['indiv_per_capita'] = homeless['individuals'] / homeless['state_pop']
hl_indiv_per_cap = homeless.sort_values('indiv_per_capita', ascending=False)
hl_indiv_per_cap.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908
4,Pacific,California,109008.0,20964.0,39461588,0.002762
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331

In [74]:
# 1.	Which state has the highest number of homeless individuals per capita?
st_hi_hl_indi_per_cap = hl_indiv_per_cap.iloc[0, 1]
print(st_hi_hl_indi_per_cap)

District of Columbia

In [75]:
# 2.	What is the per capita rate for the state with the second-highest number?
per_cap_st_2nd_hi = hl_indiv_per_cap.iloc[1, 5]
print(per_cap_st_2nd_hi)

0.002907940557218007

In [78]:
# 3.	Which state has the lowest number of homeless individuals per capita?
st_low_hl_ind_per_cap = hl_indiv_per_cap.iloc[-1, 1]
print(st_low_hl_ind_per_cap)
hl_indiv_per_cap.tail(1)

Mississippi

,region,state,individuals,family_members,state_pop,indiv_per_capita
24,East South Central,Mississippi,1024.0,328.0,2981020,0.000344

In [83]:
# 4.	How many states have a per capita rate higher than 0.001?
count_st_per_cap_hl_ind_gt_1 = (hl_indiv_per_cap['indiv_per_capita'] > 0.001).sum()
print(count_st_per_cap_hl_ind_gt_1)
hl_indiv_per_cap[hl_indiv_per_cap['indiv_per_capita'] > 0.001]

13

,region,state,individuals,family_members,state_pop,indiv_per_capita
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908
4,Pacific,California,109008.0,20964.0,39461588,0.002762
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039
1,Pacific,Alaska,1434.0,582.0,735139,0.001951
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337
45,New England,Vermont,780.0,511.0,624358,0.001249
19,New England,Maine,1450.0,1066.0,1339057,0.001083
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009

## 7.	Sort by Family Members per Capita:
o	Problem: Add a new column for homeless family members per capita (family_members/state_pop), then sort by this new column in ascending order.

o	Questions:

1.	Which state has the fewest homeless family members per capita?

2.	What is the per capita rate for the state with the highest number?

3.	Which states have a per capita rate higher than 0.0005?

4.	How many states have a per capita rate lower than 0.0001?

In [84]:
homeless['fm_per_cap'] = homeless['family_members'] / homeless['state_pop']
hl_fm_per_c = homeless.sort_values('fm_per_cap')
hl_fm_per_c.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099
24,East South Central,Mississippi,1024.0,328.0,2981020,0.000344,0.000110
18,West South Central,Louisiana,2540.0,519.0,4659690,0.000545,0.000111
48,South Atlantic,West Virginia,1021.0,222.0,1804291,0.000566,0.000123
3,West South Central,Arkansas,2280.0,432.0,3009733,0.000758,0.000144

In [85]:
# 1.	Which state has the fewest homeless family members per capita?
st_few_hl_fm_p_c = hl_fm_per_c.iloc[0, 1]
st_few_hl_fm_p_c

'North Dakota'

In [88]:
# 2.	What is the per capita rate for the state with the highest number?
p_c_st_hi = hl_fm_per_c.iloc[-1, 6]
print(p_c_st_hi)
hl_fm_per_c.tail(1)

0.004467270190022907

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467

In [90]:
# 3.	Which states have a per capita rate higher than 0.0005?
st_p_c_h = []
for lab, row in hl_fm_per_c[hl_fm_per_c['fm_per_cap'] > 0.0005].iterrows():
    st_p_c_h.append(row['state'])
print(st_p_c_h)
hl_fm_per_c[hl_fm_per_c['fm_per_cap'] > 0.0005]

['California', 'Colorado', 'Minnesota', 'Washington', 'Alaska', 'Maine', 'Oregon', 'Vermont', 'Hawaii', 'Massachusetts', 'New York', 'District of Columbia']

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571
23,West North Central,Minnesota,3993.0,3250.0,5606249,0.000712,0.000580
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792
19,New England,Maine,1450.0,1066.0,1339057,0.001083,0.000796
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798
45,New England,Vermont,780.0,511.0,624358,0.001249,0.000818
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908,0.001689
21,New England,Massachusetts,6811.0,13257.0,6882635,0.000990,0.001926
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039,0.002666
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467

In [93]:
# 4.	How many states have a per capita rate lower than 0.0001?
count_fm_p_c_low = (hl_fm_per_c['fm_per_cap'] < 0.0001).sum()
print(count_fm_p_c_low)
hl_fm_per_c[hl_fm_per_c['fm_per_cap'] < 0.0001]

1

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099

## 8.	Sort by Total Homeless:
o	Problem: Add a new column for the total number of homeless people (individuals + family_members), then sort by this new column in descending order.

o	Questions:

1.	Which state has the highest total number of homeless people?

2.	What is the total number of homeless people in the state with the second-highest total?

3.	Which state has the lowest total number of homeless people?

4.	How many states have a total number of homeless people greater than 10,000?

In [95]:
homeless['total_homeless'] = homeless['individuals'] + homeless['family_members']
hl_tot = homeless.sort_values('total_homeless', ascending=False)
hl_tot.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039,0.002666,91897.0
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009,0.000451,31030.0
43,West South Central,Texas,19199.0,6111.0,28628666,0.000671,0.000213,25310.0
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782,22304.0

In [96]:
# 1.	Which state has the highest total number of homeless people?
st_hi_tot_hl = hl_tot.iloc[0, 1]
st_hi_tot_hl

'California'

In [97]:
# 2.	What is the total number of homeless people in the state with the second-highest total?
tot_hl_2nd_hi = hl_tot.iloc[1, 7]
print(tot_hl_2nd_hi)

91897.0

In [99]:
# 3.	Which state has the lowest total number of homeless people?
st_low_hl_tot = hl_tot.iloc[-1, 1]
print(st_low_hl_tot)
hl_tot.tail(1)

North Dakota

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099,542.0

In [101]:
# 4.	How many states have a total number of homeless people greater than 10,000?
count_tot_hl_gt_10000 = (hl_tot['total_homeless'] > 10000).sum()
print(count_tot_hl_gt_10000)
hl_tot[hl_tot['total_homeless'] > 10000]

11

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039,0.002666,91897.0
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009,0.000451,31030.0
43,West South Central,Texas,19199.0,6111.0,28628666,0.000671,0.000213,25310.0
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782,22304.0
21,New England,Massachusetts,6811.0,13257.0,6882635,0.000990,0.001926,20068.0
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798,14476.0
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,0.000638,0.000418,13512.0
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571,10857.0
13,East North Central,Illinois,6752.0,3891.0,12723071,0.000531,0.000306,10643.0
35,East North Central,Ohio,6929.0,3320.0,11676341,0.000593,0.000284,10249.0

## 9.	Sort by Percentage of Family Members:
o	Problem: Add a new column for the percentage of family members among the homeless (family_members / (individuals + family_members)), then sort by this new column in ascending order.

o	Questions:

1.	Which state has the lowest percentage of family members among the homeless?

2.	What is the percentage for the state with the highest number?

3.	Which states have a percentage higher than 50%?

4.	How many states have a percentage lower than 10%?

In [103]:
homeless['hl_percent_fam'] = (homeless['family_members'] / homeless['total_homeless']) * 100
hl_percent_fam = homeless.sort_values('hl_percent_fam')
hl_percent_fam.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331,0.000161,7544.0,6.442206
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099,542.0,13.837638
3,West South Central,Arkansas,2280.0,432.0,3009733,0.000758,0.000144,2712.0,15.929204
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628
18,West South Central,Louisiana,2540.0,519.0,4659690,0.000545,0.000111,3059.0,16.966329

In [105]:
# 1.	Which state has the lowest percentage of family members among the homeless?
st_low_per_fam = hl_percent_fam.iloc[0, 1]
print(st_low_per_fam)

Nevada

In [107]:
# 2.	What is the percentage for the state with the highest number?
per_hl_fam_hi = hl_percent_fam.iloc[-1, 8]
print(per_hl_fam_hi)
hl_percent_fam.tail(1)

66.06039465816225

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
21,New England,Massachusetts,6811.0,13257.0,6882635,0.00099,0.001926,20068.0,66.060395

In [109]:
# 3.	Which states have a percentage higher than 50%?
states_hi_50 = []
for lab, row in hl_percent_fam[hl_percent_fam['hl_percent_fam'] > 50].iterrows():
    states_hi_50.append(row['state'])
print(states_hi_50)
hl_percent_fam[hl_percent_fam['hl_percent_fam'] > 50]

['New York', 'Massachusetts']

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039,0.002666,91897.0,56.661262
21,New England,Massachusetts,6811.0,13257.0,6882635,0.000990,0.001926,20068.0,66.060395

In [113]:
# 4.	How many states have a percentage lower than 10%?
count_per_low_10 = (hl_percent_fam['hl_percent_fam'] < 10).sum()
print(count_per_low_10)
hl_percent_fam[hl_percent_fam['hl_percent_fam'] < 10]

1

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331,0.000161,7544.0,6.442206

## 10.	Sort by Region and Total Homeless:
o	Problem: First, sort by the region column in ascending order, then by the total number of homeless people within each region in descending order.

o	Questions:

1.	Which state has the highest total number of homeless people in the Pacific region?

2.	What is the total number of homeless people in the state with the highest count in the Mountain region?

3.	Which state has the lowest total number of homeless people in the East North Central region?

4.	How many states in the South Atlantic region have a total number of homeless people greater than 5,000?

In [115]:
hl_reg_th = homeless.sort_values(['region', 'total_homeless'], ascending=[True, False])
hl_reg_th.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
13,East North Central,Illinois,6752.0,3891.0,12723071,0.000531,0.000306,10643.0,36.559241
35,East North Central,Ohio,6929.0,3320.0,11676341,0.000593,0.000284,10249.0,32.393404
22,East North Central,Michigan,5209.0,3142.0,9984072,0.000522,0.000315,8351.0,37.624237
14,East North Central,Indiana,3776.0,1482.0,6695497,0.000564,0.000221,5258.0,28.185622
49,East North Central,Wisconsin,2740.0,2167.0,5807406,0.000472,0.000373,4907.0,44.161402

In [118]:
# 1.	Which state has the highest total number of homeless people in the Pacific region?
hl_pacific = hl_reg_th[hl_reg_th['region'] == 'Pacific']
st_hi_hl_pacific = hl_pacific.iloc[0, 1]
print(st_hi_hl_pacific)
hl_pacific

California

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782,22304.0,26.362984
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798,14476.0,23.051948
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908,0.001689,6530.0,36.738132
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048

In [120]:
# 2.	What is the total number of homeless people in the state with the highest count in the Mountain region?
hl_tot_mountain = hl_reg_th[hl_reg_th['region'] == 'Mountain']
tot_num_hl_hi_mountain = hl_tot_mountain.iloc[0, 7]
print(tot_num_hl_hi_mountain)
hl_tot_mountain

10857.0

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571,10857.0,29.934604
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014,0.000364,9865.0,26.416624
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331,0.000161,7544.0,6.442206
44,Mountain,Utah,1904.0,972.0,3153550,0.000604,0.000308,2876.0,33.796940
31,Mountain,New Mexico,1949.0,602.0,2092741,0.000931,0.000288,2551.0,23.598589
12,Mountain,Idaho,1297.0,715.0,1750536,0.000741,0.000408,2012.0,35.536779
26,Mountain,Montana,983.0,422.0,1060665,0.000927,0.000398,1405.0,30.035587
50,Mountain,Wyoming,434.0,205.0,577601,0.000751,0.000355,639.0,32.081377

In [122]:
# 3.	Which state has the lowest total number of homeless people in the East North Central region?
hl_encr = hl_reg_th[hl_reg_th['region'] == 'East North Central']
st_low_tot_hl_encr = hl_encr.iloc[-1, 1]
print(st_low_tot_hl_encr)
hl_encr

Wisconsin

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
13,East North Central,Illinois,6752.0,3891.0,12723071,0.000531,0.000306,10643.0,36.559241
35,East North Central,Ohio,6929.0,3320.0,11676341,0.000593,0.000284,10249.0,32.393404
22,East North Central,Michigan,5209.0,3142.0,9984072,0.000522,0.000315,8351.0,37.624237
14,East North Central,Indiana,3776.0,1482.0,6695497,0.000564,0.000221,5258.0,28.185622
49,East North Central,Wisconsin,2740.0,2167.0,5807406,0.000472,0.000373,4907.0,44.161402

In [127]:
# 4.	How many states in the South Atlantic region have a total number of homeless people greater than 5,000?
hl_tot_hl_sa = hl_reg_th[hl_reg_th['region'] == 'South Atlantic']
states_hl_toh_sa_gt_5000 = []
for lab, row in hl_tot_hl_sa[hl_tot_hl_sa['total_homeless'] > 5000].iterrows():
    states_hl_toh_sa_gt_5000.append(row['state'])
print(states_hl_toh_sa_gt_5000)
count_st_hl_toh_sa_gt_5000 = len(states_hl_toh_sa_gt_5000)
print(count_st_hl_toh_sa_gt_5000)
hl_tot_hl_sa

['Florida', 'Georgia', 'North Carolina', 'Maryland', 'District of Columbia', 'Virginia']
6

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009,0.000451,31030.0,30.895907
10,South Atlantic,Georgia,6943.0,2556.0,10511131,0.000661,0.000243,9499.0,26.908096
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,0.000621,0.000271,9268.0,30.394907
20,South Atlantic,Maryland,4914.0,2230.0,6035802,0.000814,0.000369,7144.0,31.215006
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467,6904.0,45.393975
46,South Atlantic,Virginia,3928.0,2047.0,8501286,0.000462,0.000241,5975.0,34.259414
40,South Atlantic,South Carolina,3082.0,851.0,5084156,0.000606,0.000167,3933.0,21.637427
48,South Atlantic,West Virginia,1021.0,222.0,1804291,0.000566,0.000123,1243.0,17.860016
7,South Atlantic,Delaware,708.0,374.0,965479,0.000733,0.000387,1082.0,34.565619

# SUBSETTING PROBLEMS

### 1.	Subset by Region:
o	Problem: Create a subset of the dataset containing only the states from the "Pacific" region.

o	Questions:

1.	How many states are in the Pacific region?

2.	Which state in the Pacific region has the highest number of homeless individuals?

3.	What is the total population of the Pacific region?

4.	How many family members are homeless in the Pacific region in total?

In [128]:
hl_pacific = homeless[homeless['region'] == "Pacific"]
hl_pacific

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908,0.001689,6530.0,36.738132
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798,14476.0,23.051948
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782,22304.0,26.362984

In [133]:
# 1.	How many states are in the Pacific region?
states_pac = []
for lab, row in hl_pacific.iterrows():
    states_pac.append(row['state'])
ct_st_pac = len(states_pac)
print(ct_st_pac)
print(states_pac)

5
['Alaska', 'California', 'Hawaii', 'Oregon', 'Washington']

In [137]:
# 2.	Which state in the Pacific region has the highest number of homeless individuals?
st_hi_hl_ind_pac = hl_pacific.sort_values('individuals').iloc[-1, 1]
print(st_hi_hl_ind_pac)
hl_pacific.sort_values('individuals')

California

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908,0.001689,6530.0,36.738132
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798,14476.0,23.051948
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782,22304.0,26.362984
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628

In [138]:
# 3.	What is the total population of the Pacific region?
total_pop_pac = hl_pacific['state_pop'].sum()
print(total_pop_pac)

53323075

In [139]:
# 4.	How many family members are homeless in the Pacific region in total?
tot_hl_fam_pac = hl_pacific['family_members'].sum()
print(tot_hl_fam_pac)

33162.0

### 2.	Subset by Homeless Individuals:
o	Problem: Subset the dataset to include only states with more than 10,000 homeless individuals.

o	Questions:

1.	How many states have more than 10,000 homeless individuals?

2.	Which state has the most homeless individuals among this subset?

3.	What is the average number of homeless individuals in this subset?

4.	How does the total population of this subset compare to the total population of all states?

In [140]:
hl_indiv_10000 = homeless[homeless['individuals'] > 10000]
hl_indiv_10000

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009,0.000451,31030.0,30.895907
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039,0.002666,91897.0,56.661262
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798,14476.0,23.051948
43,West South Central,Texas,19199.0,6111.0,28628666,0.000671,0.000213,25310.0,24.144607
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782,22304.0,26.362984

In [141]:
# 1.	How many states have more than 10,000 homeless individuals?
ct_st_mt_10k_hl_indiv = len(hl_indiv_10000)
print(ct_st_mt_10k_hl_indiv)

6

In [142]:
# 2.	Which state has the most homeless individuals among this subset?
most_hl_indiv = hl_indiv_10000.sort_values('individuals', ascending=False).iloc[0, 1]
print(most_hl_indiv)

California

In [143]:
# 3.	What is the average number of homeless individuals in this subset?
avg_hl_indiv = hl_indiv_10000['individuals'].mean()
print(avg_hl_indiv)

36173.333333333336

In [150]:
# 4.	How does the total population of this subset compare to the total population of all states?
tot_pop_10k_hl_indiv = hl_indiv_10000['state_pop'].sum()
tot_pop_all_st = homeless['state_pop'].sum()
print(tot_pop_10k_hl_indiv, tot_pop_all_st)
comp_10k_hl_tot_pop = (tot_pop_10k_hl_indiv / tot_pop_all_st) * 100
print('total population of this subset is {} percent of total population'.format(round(comp_10k_hl_tot_pop)))

120570677 326687501
total population of this subset is 37 percent of total population

### 3.	Subset by Family Members:
o	Problem: Create a subset of the dataset with states where the number of family members is between 500 and 2000.

o	Questions:

1.	How many states fall within this range?

2.	Which state has the highest number of family members within this range?

3.	What is the average number of family members in this subset?

4.	How many individuals are homeless in these states in total?

In [151]:
hl_fam_500_2000 = homeless[(homeless['family_members'] >= 500) & (homeless['family_members'] <= 2000)]
hl_fam_500_2000.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
0,East South Central,Alabama,2570.0,864.0,4887681,0.000526,0.000177,3434.0,25.160163
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048
6,New England,Connecticut,2280.0,1696.0,3571520,0.000638,0.000475,3976.0,42.655936
12,Mountain,Idaho,1297.0,715.0,1750536,0.000741,0.000408,2012.0,35.536779
14,East North Central,Indiana,3776.0,1482.0,6695497,0.000564,0.000221,5258.0,28.185622

In [152]:
# 1.	How many states fall within this range?
ct_st_fam_500_2k = len(hl_fam_500_2000)
print(ct_st_fam_500_2k)

18

In [156]:
# 2.	Which state has the highest number of family members within this range?
st_hi_fam_hl_500_2k = hl_fam_500_2000.sort_values('family_members', ascending=False).iloc[0, 1]
print(st_hi_fam_hl_500_2k)
hl_fam_500_2000.sort_values('family_members', ascending=False).head()

Tennessee

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
42,East South Central,Tennessee,6139.0,1744.0,6771631,0.000907,0.000258,7883.0,22.123557
6,New England,Connecticut,2280.0,1696.0,3571520,0.000638,0.000475,3976.0,42.655936
14,East North Central,Indiana,3776.0,1482.0,6695497,0.000564,0.000221,5258.0,28.185622
19,New England,Maine,1450.0,1066.0,1339057,0.001083,0.000796,2516.0,42.368839
36,West South Central,Oklahoma,2823.0,1048.0,3940235,0.000716,0.000266,3871.0,27.073108

In [158]:
# 3.	What is the average number of family members in this subset?
avg_num_hl_fam_500_2k = hl_fam_500_2000['family_members'].mean()
print(avg_num_hl_fam_500_2k)

928.1666666666666

In [159]:
# 4.	How many individuals are homeless in these states in total?
num_hl_indiv = hl_fam_500_2000['individuals'].sum()
print(num_hl_indiv)

40493.0

### 4.	Subset by State Population:
o	Problem: Subset the dataset to include states with a population of less than 1 million.

o	Questions:

1.	Which states have a population of less than 1 million?

2.	What is the total population of these states?

3.	How many homeless individuals are there in total in these states?

4.	Which state has the highest number of homeless individuals in this subset?

In [160]:
hl_pop_lt_1m = homeless[homeless['state_pop'] < 1000000]
hl_pop_lt_1m.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048
7,South Atlantic,Delaware,708.0,374.0,965479,0.000733,0.000387,1082.0,34.565619
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467,6904.0,45.393975
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099,542.0,13.837638
41,West North Central,South Dakota,836.0,323.0,878698,0.000951,0.000368,1159.0,27.868852

In [161]:
# 1.	Which states have a population of less than 1 million?
st_pop_lt_1m = []
for lab, row in hl_pop_lt_1m.iterrows():
    if row['state_pop'] < 1000000:
        st_pop_lt_1m.append(row['state'])
print(len(st_pop_lt_1m))
print(len(hl_pop_lt_1m))

7
7

In [162]:
# 2.	What is the total population of these states?
tot_pop_1m = hl_pop_lt_1m['state_pop'].sum()
print(tot_pop_1m)

5240902

### 5.	Subset by Region and Homeless Individuals:
o	Problem: Create a subset of states from the "Mountain" region with more than 2,000 homeless individuals.

o	Questions:

1.	How many states in the Mountain region have more than 2,000 homeless individuals?

2.	Which state in this subset has the highest number of homeless individuals?

3.	What is the total number of homeless individuals in this subset?

4.	How does the average number of homeless individuals in this subset compare to the overall average?

In [165]:
hl_mount_indiv_2k = homeless[(homeless['region'] == 'Mountain') & (homeless['individuals'] > 2000)]
hl_mount_indiv_2k

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014,0.000364,9865.0,26.416624
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571,10857.0,29.934604
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331,0.000161,7544.0,6.442206

In [166]:
# 1.	How many states in the Mountain region have more than 2,000 homeless individuals?
ct_st_mount_2kindiv = len(hl_mount_indiv_2k)
print(ct_st_mount_2kindiv)

3

In [168]:
# 2.	Which state in this subset has the highest number of homeless individuals?
st_hi_hl_indiv = hl_mount_indiv_2k.sort_values('individuals').iloc[-1, 1]
print(st_hi_hl_indiv)
hl_mount_indiv_2k.sort_values('individuals')

Colorado

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331,0.000161,7544.0,6.442206
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014,0.000364,9865.0,26.416624
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571,10857.0,29.934604

In [169]:
# 3.	What is the total number of homeless individuals in this subset?
tot_hl_indiv_mount = hl_mount_indiv_2k['individuals'].sum()
print(tot_hl_indiv_mount)

21924.0

In [172]:
# 4.	How does the average number of homeless individuals in this subset compare to the overall average?
avg_hl_ind_mount = hl_mount_indiv_2k['individuals'].mean()
avg_hl_ind_overall = homeless['individuals'].mean()
print(avg_hl_ind_mount, avg_hl_ind_overall)
print('Average number of Homeless individuals in this subset is {} and overall average of homeless individuals is {}. By Looking at the numbers we can say average homeless individuals in this subset is higher than overall average homeless individuals'.format(avg_hl_ind_mount, avg_hl_ind_overall))

7308.0 7225.78431372549
Average number of Homeless individuals in this subset is 7308.0 and overall average of homeless individuals is 7225.78431372549. By Looking at the numbers we can say average homeless individuals in this subset is higher than overall average homeless individuals

### 6.	Subset by Multiple Conditions:
o	Problem: Create a subset where the number of homeless individuals is greater than 5,000 and the number of family members is greater than 1,000.

o	Questions:

1.	Which states meet both of these criteria?

2.	What is the total number of homeless individuals in these states?

3.	How many family members are homeless in total in these states?

4.	What is the average state population in this subset?

In [174]:
hl_ind_gt_5k_fm_gt_1k = homeless[(homeless['individuals'] > 5000) & (homeless['family_members'] > 1000)]
hl_ind_gt_5k_fm_gt_1k.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014,0.000364,9865.0,26.416624
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571,10857.0,29.934604
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009,0.000451,31030.0,30.895907
10,South Atlantic,Georgia,6943.0,2556.0,10511131,0.000661,0.000243,9499.0,26.908096

In [175]:
# 1.	Which states meet both of these criteria?
st_in_5k_fm_1k = list(hl_ind_gt_5k_fm_gt_1k['state'])
print(st_in_5k_fm_1k)

['Arizona', 'California', 'Colorado', 'Florida', 'Georgia', 'Illinois', 'Massachusetts', 'Michigan', 'New Jersey', 'New York', 'North Carolina', 'Ohio', 'Oregon', 'Pennsylvania', 'Tennessee', 'Texas', 'Washington']

In [176]:
# 2.	What is the total number of homeless individuals in these states?
tot_hl_ind_5k_fm_1k = hl_ind_gt_5k_fm_gt_1k['individuals'].sum()
print(tot_hl_ind_5k_fm_1k)

291351.0

In [177]:
# 3.	How many family members are homeless in total in these states?
tot_hl_fam_in5k_fm1k = hl_ind_gt_5k_fm_gt_1k['family_members'].sum()
print(tot_hl_fam_in5k_fm1k)

143231.0

In [178]:
# 4.	What is the average state population in this subset?
avf_st_pop_i5k_f1k = hl_ind_gt_5k_fm_gt_1k['state_pop'].mean()
print(avf_st_pop_i5k_f1k)

13178672.411764706

### 7.	Subset by High Population and Low Homelessness:
o	Problem: Subset the dataset to include states with a population greater than 5 million but with fewer than 5,000 homeless individuals.

o	Questions:

1.	Which states meet these criteria?

2.	What is the total population of these states?

3.	How many homeless individuals are there in total in these states?

4.	What is the average number of homeless individuals in this subset?

In [179]:
hi_pop_low_hl = homeless[(homeless['state_pop'] > 5000000) & (homeless['individuals'] < 5000)]
hi_pop_low_hl

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
14,East North Central,Indiana,3776.0,1482.0,6695497,0.000564,0.000221,5258.0,28.185622
20,South Atlantic,Maryland,4914.0,2230.0,6035802,0.000814,0.000369,7144.0,31.215006
23,West North Central,Minnesota,3993.0,3250.0,5606249,0.000712,0.000580,7243.0,44.870910
25,West North Central,Missouri,3776.0,2107.0,6121623,0.000617,0.000344,5883.0,35.815060
40,South Atlantic,South Carolina,3082.0,851.0,5084156,0.000606,0.000167,3933.0,21.637427
46,South Atlantic,Virginia,3928.0,2047.0,8501286,0.000462,0.000241,5975.0,34.259414
49,East North Central,Wisconsin,2740.0,2167.0,5807406,0.000472,0.000373,4907.0,44.161402

In [180]:
# 1.	Which states meet these criteria?
st_hi_pop_low_hl = list(hi_pop_low_hl['state'])
st_hi_pop_low_hl

['Indiana',
 'Maryland',
 'Minnesota',
 'Missouri',
 'South Carolina',
 'Virginia',
 'Wisconsin']

In [181]:
# 2.	What is the total population of these states?
tot_pop_hi_pop_low_hl = hi_pop_low_hl['state_pop'].sum()
tot_pop_hi_pop_low_hl

43852019

In [182]:
# 3.	How many homeless individuals are there in total in these states?
tot_hl_ind_hplh = hi_pop_low_hl['individuals'].sum()
tot_hl_ind_hplh

26209.0

In [183]:
# 4.	What is the average number of homeless individuals in this subset?
avg_h_ind = hi_pop_low_hl['individuals'].mean()
avg_h_ind

3744.1428571428573

### 8.	Subset by Region and Family Members:
o	Problem: Create a subset of states from the "West South Central" region with fewer than 1,000 homeless family members.

o	Questions:

1.	How many states in the West South Central region have fewer than 1,000 homeless family members?

2.	Which state in this subset has the lowest number of family members?

3.	What is the total number of family members in this subset?

4.	How does the total number of homeless individuals in this subset compare to the total number of family members?

In [184]:
hl_reg_fam = homeless[(homeless['region'] == 'West South Central') & (homeless['family_members'] < 1000)]
hl_reg_fam

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
3,West South Central,Arkansas,2280.0,432.0,3009733,0.000758,0.000144,2712.0,15.929204
18,West South Central,Louisiana,2540.0,519.0,4659690,0.000545,0.000111,3059.0,16.966329

In [185]:
# 1.	How many states in the West South Central region have fewer than 1,000 homeless family members?
ct_st_wscr = len(hl_reg_fam)
ct_st_wscr

2

In [186]:
# 2.	Which state in this subset has the lowest number of family members?
st_l_hl_fam = hl_reg_fam.sort_values('family_members').iloc[0, 1]
st_l_hl_fam

'Arkansas'

In [187]:
# 3.	What is the total number of family members in this subset?
tot_fam_mem = hl_reg_fam['family_members'].sum()
tot_fam_mem

951.0

In [189]:
# 4.	How does the total number of homeless individuals in this subset compare to the total number of family members?
tot_hl_indiv = hl_reg_fam['individuals'].sum()
if tot_fam_mem > tot_hl_indiv:
    print('Homeless family members {} are higher as compared homeless individuals {}'.format(tot_fam_mem, tot_hl_indiv))
else:
    print('Homeless individuals {} are higher as compared homeless family members {}'.format(tot_hl_indiv, tot_fam_mem))

Homeless individuals 4820.0 are higher as compared homeless family members 951.0

### 9.	Subset by High Homelessness per Capita:
o	Problem: Subset the dataset to include states with homeless individuals per capita (individuals/state_pop) greater than 0.001.

o	Questions:

1.	Which states have a per capita rate greater than 0.001?

2.	What is the highest per capita rate in this subset?

3.	How many total homeless individuals are there in this subset?

4.	What is the average number of homeless individuals in this subset?

In [191]:
hi_hl_p_cap = homeless[homeless['indiv_per_capita'] > 0.001]
hi_hl_p_cap.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014,0.000364,9865.0,26.416624
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571,10857.0,29.934604
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467,6904.0,45.393975

In [192]:
# 1.	Which states have a per capita rate greater than 0.001?
st_per_cap = list(hi_hl_p_cap['state'])
st_per_cap

['Alaska',
 'Arizona',
 'California',
 'Colorado',
 'District of Columbia',
 'Florida',
 'Hawaii',
 'Maine',
 'Nevada',
 'New York',
 'Oregon',
 'Vermont',
 'Washington']

In [193]:
# 2.	What is the highest per capita rate in this subset?
hi_ind_per_cap_r = hi_hl_p_cap.sort_values('indiv_per_capita').iloc[-1, 5]
hi_ind_per_cap_r

0.005373838103505538

### 10.	Subset by Low Homelessness per Capita:
o	Problem: Subset the dataset to include states with homeless individuals per capita (individuals/state_pop) less than 0.0005.

o	Questions:

1.	Which states have a per capita rate less than 0.0005?

2.	What is the lowest per capita rate in this subset?

3.	How many total homeless individuals are there in this subset?

4.	What is the average number of homeless individuals in this subset?

In [194]:
low_hl_per_cap = homeless[homeless['indiv_per_capita'] < 0.0005]
low_hl_per_cap.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
16,West North Central,Kansas,1443.0,773.0,2911359,0.000496,0.000266,2216.0,34.882671
24,East South Central,Mississippi,1024.0,328.0,2981020,0.000344,0.000110,1352.0,24.260355
46,South Atlantic,Virginia,3928.0,2047.0,8501286,0.000462,0.000241,5975.0,34.259414
49,East North Central,Wisconsin,2740.0,2167.0,5807406,0.000472,0.000373,4907.0,44.161402

In [196]:
# 1.	Which states have a per capita rate less than 0.0005?
st_p_c_r = list(low_hl_per_cap['state'])
st_p_c_r

['Kansas', 'Mississippi', 'Virginia', 'Wisconsin']

In [198]:
# 2.	What is the lowest per capita rate in this subset?
low_per_cap_rate = low_hl_per_cap.sort_values('indiv_per_capita').iloc[0, 5]
low_per_cap_rate

0.0003435065849943979

In [199]:
# 3.	How many total homeless individuals are there in this subset?
tot_hl_indiv_low_hl = low_hl_per_cap['individuals'].sum()
tot_hl_indiv_low_hl

9135.0

In [200]:
# 4.	What is the average number of homeless individuals in this subset?
avg_hl_indiv_low_hl = low_hl_per_cap['individuals'].mean()
avg_hl_indiv_low_hl

2283.75

# FEATURE ENGINEERING

### 1.	Homeless Individuals per Capita:
o	Problem: Add a new column for homeless individuals per capita (individuals/state_pop).

o	Questions:

1.	Which state has the highest number of homeless individuals per capita?

2.	What is the per capita rate for the state with the second-highest number?

3.	Which state has the lowest number of homeless individuals per capita?

4.	How many states have a per capita rate higher than 0.001?

In [201]:
homeless.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
0,East South Central,Alabama,2570.0,864.0,4887681,0.000526,0.000177,3434.0,25.160163
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792,2016.0,28.869048
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014,0.000364,9865.0,26.416624
3,West South Central,Arkansas,2280.0,432.0,3009733,0.000758,0.000144,2712.0,15.929204
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531,129972.0,16.129628

In [203]:
# 1.	Which state has the highest number of homeless individuals per capita?
st_hi_ind_hl_percap = homeless.sort_values('indiv_per_capita')
st_hi_ind_hl_percap.iloc[-1, 1]

'District of Columbia'

In [204]:
# 2.	What is the per capita rate for the state with the second-highest number?
per_cap_rate_st_hi_indhl = st_hi_ind_hl_percap.iloc[-2, 5]
per_cap_rate_st_hi_indhl

0.002907940557218007

In [209]:
# 3.	Which state has the lowest number of homeless individuals per capita?
st_low_hlindipercap = st_hi_ind_hl_percap.iloc[0, 1]
st_low_hlindipercap

'Mississippi'

In [210]:
# 4.	How many states have a per capita rate higher than 0.001?
st_cap_ht = []
for lab, row in st_hi_ind_hl_percap.iterrows():
    if row['indiv_per_capita'] > 0.001:
        st_cap_ht.append(row['state'])
print(st_cap_ht)
print(len(st_cap_ht))

['Florida', 'Arizona', 'Maine', 'Vermont', 'Colorado', 'Alaska', 'New York', 'Washington', 'Nevada', 'Oregon', 'California', 'Hawaii', 'District of Columbia']
13

### 2.	Family Members per Capita:
o	Problem: Add a new column for homeless family members per capita (family_members/state_pop).

o	Questions:

1.	Which state has the fewest homeless family members per capita?

2.	What is the per capita rate for the state with the highest number?

3.	Which states have a per capita rate higher than 0.0005?

4.	How many states have a per capita rate lower than 0.0001?

In [212]:
hl_fam_percap = homeless.sort_values('fm_per_cap')
hl_fam_percap.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099,542.0,13.837638
24,East South Central,Mississippi,1024.0,328.0,2981020,0.000344,0.000110,1352.0,24.260355
18,West South Central,Louisiana,2540.0,519.0,4659690,0.000545,0.000111,3059.0,16.966329
48,South Atlantic,West Virginia,1021.0,222.0,1804291,0.000566,0.000123,1243.0,17.860016
3,West South Central,Arkansas,2280.0,432.0,3009733,0.000758,0.000144,2712.0,15.929204

In [214]:
# 1.	Which state has the fewest homeless family members per capita?
few_hl_fam_percap = hl_fam_percap.iloc[0, 1]
few_hl_fam_percap

'North Dakota'

In [215]:
# 2.	What is the per capita rate for the state with the highest number?
per_caprate_hlfam = hl_fam_percap.iloc[-1, 6]
per_caprate_hlfam

0.004467270190022907

In [216]:
# 3.	Which states have a per capita rate higher than 0.0005?
st_fampercaprate = []
for lab, row in hl_fam_percap.iterrows():
    if row['fm_per_cap'] > 0.0005:
        st_fampercaprate.append(row['state'])
print(st_fampercaprate)

['California', 'Colorado', 'Minnesota', 'Washington', 'Alaska', 'Maine', 'Oregon', 'Vermont', 'Hawaii', 'Massachusetts', 'New York', 'District of Columbia']

In [218]:
# 4.	How many states have a per capita rate lower than 0.0001?
ct_st_fm_percaprate = (hl_fam_percap['fm_per_cap'] < 0.0001).sum()
print(ct_st_fm_percaprate)
hl_fam_percap[hl_fam_percap['fm_per_cap'] < 0.0001]

1

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099,542.0,13.837638

### 3.	Total Homeless:
o	Problem: Add a new column for the total number of homeless people (individuals + family_members).

o	Questions:

1.	Which state has the highest total number of homeless people?

2.	What is the total number of homeless people in the state with the second-highest total?

3.	Which state has the lowest total number of homeless people?

4.	How many states have a total number of homeless people greater than 10,000?

In [220]:
tot_hl = homeless.sort_values('total_homeless')
tot_hl.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap,total_homeless,hl_percent_fam
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099,542.0,13.837638
50,Mountain,Wyoming,434.0,205.0,577601,0.000751,0.000355,639.0,32.081377
7,South Atlantic,Delaware,708.0,374.0,965479,0.000733,0.000387,1082.0,34.565619
39,New England,Rhode Island,747.0,354.0,1058287,0.000706,0.000335,1101.0,32.152589
41,West North Central,South Dakota,836.0,323.0,878698,0.000951,0.000368,1159.0,27.868852

In [223]:
# 1.	Which state has the highest total number of homeless people?
st_hi_tot_hl = tot_hl.iloc[-1, 1]
st_hi_tot_hl

'California'

In [224]:
# 2.	What is the total number of homeless people in the state with the second-highest total?
tot_hl_2nd_hi = tot_hl.iloc[-2, 7]
tot_hl_2nd_hi

91897.0

In [225]:
# 3.	Which state has the lowest total number of homeless people?
st_low_tot_hl = tot_hl.iloc[0, 1]
st_low_tot_hl

'North Dakota'

### 4.	Percentage of Family Members:
o	Problem: Add a new column for the percentage of family members among the homeless (family_members / (individuals + family_members)).

o	Questions:

1.	Which state has the lowest percentage of family members among the homeless?

2.	What is the percentage for the state with the highest number?

3.	Which states have a percentage higher than 50%?

4.	How many states have a percentage lower than 10%?

### 5.	Homeless per Thousand Residents:
o	Problem: Add a new column for the number of homeless individuals per thousand residents (individuals / state_pop * 1000).

o	Questions:

1.	Which state has the highest number of homeless individuals per thousand residents?

2.	What is the rate for the state with the second-highest number?

3.	Which state has the lowest number of homeless individuals per thousand residents?

4.	How many states have a rate higher than 1?

### 6.	Family Members per Thousand Residents:
o	Problem: Add a new column for the number of homeless family members per thousand residents (family_members / state_pop * 1000).

o	Questions:

1.	Which state has the fewest homeless family members per thousand residents?

2.	What is the rate for the state with the highest number?

3.	Which states have a rate higher than 0.5?

4.	How many states have a rate lower than 0.1?

### 7.	Total Homeless per Thousand Residents:
o	Problem: Add a new column for the total number of homeless people per thousand residents ((individuals + family_members) / state_pop * 1000).

o	Questions:

1.	Which state has the highest total number of homeless people per thousand residents?

2.	What is the rate for the state with the second-highest number?

3.	Which state has the lowest total number of homeless people per thousand residents?

4.	How many states have a rate higher than 1?

### 8.	Percentage of Homeless Individuals:
o	Problem: Add a new column for the percentage of homeless individuals among the total homeless population (individuals / (individuals + family_members) * 100).

o	Questions:

1.	Which state has the highest percentage of homeless individuals among the total homeless population?

2.	What is the percentage for the state with the lowest number?

3.	Which states have a percentage higher than 90%?

4.	How many states have a percentage lower than 50%?

### 9.	Percentage of Homeless Family Members:
o	Problem: Add a new column for the percentage of homeless family members among the total homeless population (family_members / (individuals + family_members) * 100).

o	Questions:

1.	Which state has the highest percentage of homeless family members among the total homeless population?

2.	What is the percentage for the state with the lowest number?

3.	Which states have a percentage higher than 50%?

4.	How many states have a percentage lower than 10%?

### 10.	Homeless Rate Change:
o	Problem: Assuming you have a dataset with previous years homeless numbers, add a new column for the percentage change in the number of homeless individuals from the previous year to the current year.

o	Questions:

1.	Which state had the highest percentage increase in homeless individuals?

2.	Which state had the highest percentage decrease in homeless individuals?

3.	What is the average percentage change across all states?

4.	How many states had a positive percentage change?

# COMBINED