# SORTING PROBLEMS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
homeless = pd.read_csv('../../homelessness.csv', index_col=0)

In [3]:
homeless.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

## 1. Sort by State Name:
Problem: Sort the dataset by the state column in ascending order.

Questions:

1.	Which state comes first in alphabetical order?

2.	Which state comes last in alphabetical order?

3.	What is the 10th state in alphabetical order?

4.	How many states start with the letter 'A'?

In [4]:
homeless_state_asc = homeless.sort_values('state')
homeless_state_asc.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [5]:
# 1. Which state comes first in alphabetical order?
first_state = 'Alabama'

In [6]:
# 2. Which state comes last in alphabetical order?
last_state = homeless_state_asc.iloc[-1, 1]
print(last_state)
homeless_state_asc.tail(1)

Wyoming

      region    state  individuals  family_members  state_pop
50  Mountain  Wyoming        434.0           205.0     577601

In [7]:
# 3.What is the 10th state in alphabetical order?
state_10th = homeless_state_asc.iloc[9, 1]
print(state_10th)
homeless_state_asc.head(10)

Florida

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317

In [8]:
# 4.	How many states start with the letter 'A'?

count_state_with_a = homeless_state_asc['state'].str.startswith('A').sum()
print(count_state_with_a)
homeless_state_asc[homeless_state_asc['state'].str.startswith('A')]

4

               region     state  individuals  family_members  state_pop
0  East South Central   Alabama       2570.0           864.0    4887681
1             Pacific    Alaska       1434.0           582.0     735139
2            Mountain   Arizona       7259.0          2606.0    7158024
3  West South Central  Arkansas       2280.0           432.0    3009733

## 2.	Sort by Number of Individuals:
o	Problem: Sort the dataset by the individuals column in descending order.

o	Questions:

1.	Which state has the highest number of homeless individuals?

2.	What is the number of homeless individuals in the state with the second-highest count?

3.	Which state has the lowest number of homeless individuals?

4.	How many states have more than 5,000 homeless individuals?

In [9]:
homeless_indiv_desc = homeless.sort_values('individuals', ascending=False)
homeless_indiv_desc.head()

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
9       South Atlantic     Florida      21443.0          9587.0   21244317
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [10]:
# 1.	Which state has the highest number of homeless individuals?
state_high_homeless = homeless_indiv_desc.iloc[0, 1]
print(state_high_homeless)
homeless_indiv_desc.iloc[0, 1]

California

'California'

In [11]:
# 2.	What is the number of homeless individuals in the state with the second-highest count?
state_2nd_high_homeless = homeless_indiv_desc.iloc[1, 2]
print(state_2nd_high_homeless)

39827.0

In [12]:
# 3.	Which state has the lowest number of homeless individuals?
state_with_low_homeless_indiv = homeless_indiv_desc.iloc[-1, 1]
print(state_with_low_homeless_indiv)
homeless_indiv_desc.tail(1)

Wyoming

      region    state  individuals  family_members  state_pop
50  Mountain  Wyoming        434.0           205.0     577601

In [13]:
# 4.	How many states have more than 5,000 homeless individuals?
states_with_5000_homeless_indiv = (homeless_indiv_desc['individuals'] > 5000).sum()
print(states_with_5000_homeless_indiv)

homeless_indiv_desc[homeless_indiv_desc['individuals'] > 5000].head()

18

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
9       South Atlantic     Florida      21443.0          9587.0   21244317
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

## 3.	Sort by Family Members:
o	Problem: Sort the dataset by the family_members column in ascending order.
o	Questions:

1.	Identify the state with the fewest family members who are homeless.

2.	How many states have fewer than 500 homeless family members?

3.	Which state has the highest number of homeless family members?

4.	What is the median number of homeless family members across all states?

In [14]:
homeless_fam_asc = homeless.sort_values('family_members')
homeless_fam_asc.head()

                region          state  individuals  family_members  state_pop
34  West North Central   North Dakota        467.0            75.0     758080
50            Mountain        Wyoming        434.0           205.0     577601
48      South Atlantic  West Virginia       1021.0           222.0    1804291
41  West North Central   South Dakota        836.0           323.0     878698
24  East South Central    Mississippi       1024.0           328.0    2981020

In [15]:
# 1.	Identify the state with the fewest family members who are homeless.
state_least_homeless_fam = homeless_fam_asc.iloc[0, 1]
print(state_least_homeless_fam)
homeless_fam_asc.iloc[0, 1]

North Dakota

'North Dakota'

In [16]:
# 2.	How many states have fewer than 500 homeless family members?
count_state_500_hl_fam = (homeless_fam_asc['family_members'] < 500).sum()
print(count_state_500_hl_fam)
homeless_fam_asc[homeless_fam_asc['family_members'] < 500]

10

                region          state  individuals  family_members  state_pop
34  West North Central   North Dakota        467.0            75.0     758080
50            Mountain        Wyoming        434.0           205.0     577601
48      South Atlantic  West Virginia       1021.0           222.0    1804291
41  West North Central   South Dakota        836.0           323.0     878698
24  East South Central    Mississippi       1024.0           328.0    2981020
39         New England   Rhode Island        747.0           354.0    1058287
7       South Atlantic       Delaware        708.0           374.0     965479
26            Mountain        Montana        983.0           422.0    1060665
3   West South Central       Arkansas       2280.0           432.0    3009733
28            Mountain         Nevada       7058.0           486.0    3027341

In [17]:
#  3.	Which state has the highest number of homeless family members?
state_high_hl_fam = homeless_fam_asc.iloc[-1, 1]
print(state_high_hl_fam)
homeless_fam_asc.tail(1)

New York

          region     state  individuals  family_members  state_pop
32  Mid-Atlantic  New York      39827.0         52070.0   19530351

In [18]:
# 4.	What is the median number of homeless family members across all states?
median_hl_fm = homeless_fam_asc['family_members'].median()
print(median_hl_fm)

1482.0

## 4.	Sort by State Population:
o	Problem: Sort the dataset by the state_pop column in descending order.

o	Questions:

1.	What are the top three states with the largest populations?

2.	Which state has the smallest population?

3.	How many states have a population greater than 10 million?

4.	What is the total population of the top five states?

In [19]:
homeless_st_pop_desc = homeless.sort_values('state_pop', ascending=False)
homeless_st_pop_desc.head()

                region         state  individuals  family_members  state_pop
4              Pacific    California     109008.0         20964.0   39461588
43  West South Central         Texas      19199.0          6111.0   28628666
9       South Atlantic       Florida      21443.0          9587.0   21244317
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922

In [20]:
# 1.	What are the top three states with the largest populations?
top_3 = homeless_st_pop_desc.head(3)
top_3
top_3_state = []
for lab, row in top_3.iterrows():
    top_3_state.append(row['state'])
print(top_3_state)

['California', 'Texas', 'Florida']

In [24]:
# 2.	Which state has the smallest population?
st_sm_pop = homeless_st_pop_desc.iloc[-1, 1]
print(st_sm_pop)
homeless_st_pop_desc.tail(1)

Wyoming

      region    state  individuals  family_members  state_pop
50  Mountain  Wyoming        434.0           205.0     577601

In [25]:
# 3.	How many states have a population greater than 10 million?
count_st_pop_10m = (homeless_st_pop_desc['state_pop'] > 10000000).sum()
print(count_st_pop_10m)
homeless_st_pop_desc[homeless_st_pop_desc['state_pop'] > 10000000]

9

                region           state  individuals  family_members  state_pop
4              Pacific      California     109008.0         20964.0   39461588
43  West South Central           Texas      19199.0          6111.0   28628666
9       South Atlantic         Florida      21443.0          9587.0   21244317
32        Mid-Atlantic        New York      39827.0         52070.0   19530351
38        Mid-Atlantic    Pennsylvania       8163.0          5349.0   12800922
13  East North Central        Illinois       6752.0          3891.0   12723071
35  East North Central            Ohio       6929.0          3320.0   11676341
10      South Atlantic         Georgia       6943.0          2556.0   10511131
33      South Atlantic  North Carolina       6451.0          2817.0   10381615

In [26]:
# 4.	What is the total population of the top five states?
total_pop = homeless_st_pop_desc['state_pop'].head().sum()
print(total_pop)
homeless_st_pop_desc.head(5)

121665844

                region         state  individuals  family_members  state_pop
4              Pacific    California     109008.0         20964.0   39461588
43  West South Central         Texas      19199.0          6111.0   28628666
9       South Atlantic       Florida      21443.0          9587.0   21244317
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922

## 5.	Sort by Region and State:
o	Problem: First, sort by the region column in ascending order, then by the state column within each region.

o	Questions:

1.	What is the first state listed in the East South Central region?

2.	Which region has the most states listed?

3.	What is the last state listed in the Mountain region?

4.	How many states are in the West South Central region?

In [27]:
hl_reg_st_asc = homeless.sort_values(['region', 'state'])
hl_reg_st_asc.head()

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
14  East North Central    Indiana       3776.0          1482.0    6695497
22  East North Central   Michigan       5209.0          3142.0    9984072
35  East North Central       Ohio       6929.0          3320.0   11676341
49  East North Central  Wisconsin       2740.0          2167.0    5807406

In [30]:
# 1.	What is the first state listed in the East South Central region?
esc_1st_St = hl_reg_st_asc[hl_reg_st_asc['region'] == 'East South Central'].iloc[0, 1]
print(esc_1st_St)
hl_reg_st_asc[hl_reg_st_asc['region'] == 'East South Central']

Alabama

                region        state  individuals  family_members  state_pop
0   East South Central      Alabama       2570.0           864.0    4887681
17  East South Central     Kentucky       2735.0           953.0    4461153
24  East South Central  Mississippi       1024.0           328.0    2981020
42  East South Central    Tennessee       6139.0          1744.0    6771631

In [65]:
# 2.	Which region has the most states listed?
# initialize variables to track the region with most states
max_count = 0
current_region=None
current_count = 0
region_l = {}
region_with_most_states = None
last_region = hl_reg_st_asc.iloc[-1, 0]
# print(last_region)
# loop through sorted dataset
for lab, row in hl_reg_st_asc.iterrows():
    if row['region'] != current_region:
        if row['region'] != None:
            region_l[current_region] = current_count
            current_region = row['region']
            current_count = 1
        else:
            current_region = row['region']
            current_count = 1
    elif row['region'] == last_region:
        current_count += 1
        region_l[current_region] = current_count
    else:
        current_count += 1
#     print(current_region, current_count)
# print(region_l)
# for k, v in region_l.items():
#     print(max)
max_v = max(region_l.values())
for k, v in region_l.items():
    if v == max_v:
        print(k, v)
# print((hl_reg_st_asc))
hl_reg_st_asc['region'].value_counts()

South Atlantic 9

South Atlantic        9
Mountain              8
West North Central    7
New England           6
East North Central    5
Pacific               5
East South Central    4
West South Central    4
Mid-Atlantic          3
Name: region, dtype: int64

In [37]:
# 3.	What is the last state listed in the Mountain region?
last_st_mountain = hl_reg_st_asc[hl_reg_st_asc['region'] == 'Mountain'].iloc[-1,1]
print(last_st_mountain)
hl_reg_st_asc[hl_reg_st_asc['region'] == 'Mountain']

Wyoming

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [70]:
# 4.	How many states are in the West South Central region?
count_st_west_south_central_region = (hl_reg_st_asc['region'] == 'West South Central').sum()
print(count_st_west_south_central_region)
hl_reg_st_asc[hl_reg_st_asc['region'] == 'West South Central']

4

                region      state  individuals  family_members  state_pop
3   West South Central   Arkansas       2280.0           432.0    3009733
18  West South Central  Louisiana       2540.0           519.0    4659690
36  West South Central   Oklahoma       2823.0          1048.0    3940235
43  West South Central      Texas      19199.0          6111.0   28628666

## 6.	Sort by Individuals per Capita:
o	Problem: Add a new column for homeless individuals per capita (individuals/state_pop), then sort by this new column in descending order.

o	Questions:

1.	Which state has the highest number of homeless individuals per capita?

2.	What is the per capita rate for the state with the second-highest number?

3.	Which state has the lowest number of homeless individuals per capita?

4.	How many states have a per capita rate higher than 0.001?

In [71]:
homeless['indiv_per_capita'] = homeless['individuals'] / homeless['state_pop']
hl_indiv_per_cap = homeless.sort_values('indiv_per_capita', ascending=False)
hl_indiv_per_cap.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908
4,Pacific,California,109008.0,20964.0,39461588,0.002762
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331

In [74]:
# 1.	Which state has the highest number of homeless individuals per capita?
st_hi_hl_indi_per_cap = hl_indiv_per_cap.iloc[0, 1]
print(st_hi_hl_indi_per_cap)

District of Columbia

In [75]:
# 2.	What is the per capita rate for the state with the second-highest number?
per_cap_st_2nd_hi = hl_indiv_per_cap.iloc[1, 5]
print(per_cap_st_2nd_hi)

0.002907940557218007

In [78]:
# 3.	Which state has the lowest number of homeless individuals per capita?
st_low_hl_ind_per_cap = hl_indiv_per_cap.iloc[-1, 1]
print(st_low_hl_ind_per_cap)
hl_indiv_per_cap.tail(1)

Mississippi

,region,state,individuals,family_members,state_pop,indiv_per_capita
24,East South Central,Mississippi,1024.0,328.0,2981020,0.000344

In [83]:
# 4.	How many states have a per capita rate higher than 0.001?
count_st_per_cap_hl_ind_gt_1 = (hl_indiv_per_cap['indiv_per_capita'] > 0.001).sum()
print(count_st_per_cap_hl_ind_gt_1)
hl_indiv_per_cap[hl_indiv_per_cap['indiv_per_capita'] > 0.001]

13

,region,state,individuals,family_members,state_pop,indiv_per_capita
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908
4,Pacific,California,109008.0,20964.0,39461588,0.002762
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664
28,Mountain,Nevada,7058.0,486.0,3027341,0.002331
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039
1,Pacific,Alaska,1434.0,582.0,735139,0.001951
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337
45,New England,Vermont,780.0,511.0,624358,0.001249
19,New England,Maine,1450.0,1066.0,1339057,0.001083
2,Mountain,Arizona,7259.0,2606.0,7158024,0.001014
9,South Atlantic,Florida,21443.0,9587.0,21244317,0.001009

## 7.	Sort by Family Members per Capita:
o	Problem: Add a new column for homeless family members per capita (family_members/state_pop), then sort by this new column in ascending order.

o	Questions:

1.	Which state has the fewest homeless family members per capita?

2.	What is the per capita rate for the state with the highest number?

3.	Which states have a per capita rate higher than 0.0005?

4.	How many states have a per capita rate lower than 0.0001?

In [84]:
homeless['fm_per_cap'] = homeless['family_members'] / homeless['state_pop']
hl_fm_per_c = homeless.sort_values('fm_per_cap')
hl_fm_per_c.head()

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099
24,East South Central,Mississippi,1024.0,328.0,2981020,0.000344,0.000110
18,West South Central,Louisiana,2540.0,519.0,4659690,0.000545,0.000111
48,South Atlantic,West Virginia,1021.0,222.0,1804291,0.000566,0.000123
3,West South Central,Arkansas,2280.0,432.0,3009733,0.000758,0.000144

In [85]:
# 1.	Which state has the fewest homeless family members per capita?
st_few_hl_fm_p_c = hl_fm_per_c.iloc[0, 1]
st_few_hl_fm_p_c

'North Dakota'

In [88]:
# 2.	What is the per capita rate for the state with the highest number?
p_c_st_hi = hl_fm_per_c.iloc[-1, 6]
print(p_c_st_hi)
hl_fm_per_c.tail(1)

0.004467270190022907

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467

In [90]:
# 3.	Which states have a per capita rate higher than 0.0005?
st_p_c_h = []
for lab, row in hl_fm_per_c[hl_fm_per_c['fm_per_cap'] > 0.0005].iterrows():
    st_p_c_h.append(row['state'])
print(st_p_c_h)
hl_fm_per_c[hl_fm_per_c['fm_per_cap'] > 0.0005]

['California', 'Colorado', 'Minnesota', 'Washington', 'Alaska', 'Maine', 'Oregon', 'Vermont', 'Hawaii', 'Massachusetts', 'New York', 'District of Columbia']

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
4,Pacific,California,109008.0,20964.0,39461588,0.002762,0.000531
5,Mountain,Colorado,7607.0,3250.0,5691287,0.001337,0.000571
23,West North Central,Minnesota,3993.0,3250.0,5606249,0.000712,0.000580
47,Pacific,Washington,16424.0,5880.0,7523869,0.002183,0.000782
1,Pacific,Alaska,1434.0,582.0,735139,0.001951,0.000792
19,New England,Maine,1450.0,1066.0,1339057,0.001083,0.000796
37,Pacific,Oregon,11139.0,3337.0,4181886,0.002664,0.000798
45,New England,Vermont,780.0,511.0,624358,0.001249,0.000818
11,Pacific,Hawaii,4131.0,2399.0,1420593,0.002908,0.001689
21,New England,Massachusetts,6811.0,13257.0,6882635,0.000990,0.001926
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,0.002039,0.002666
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.005374,0.004467

In [92]:
# 4.	How many states have a per capita rate lower than 0.0001?
count_fm_p_c_low = (hl_fm_per_c['fm_per_cap'] > 0.0005).sum()
print(count_fm_p_c_low)
hl_fm_per_c[hl_fm_per_c['fm_per_cap'] < 0.0001]

12

,region,state,individuals,family_members,state_pop,indiv_per_capita,fm_per_cap
34,West North Central,North Dakota,467.0,75.0,758080,0.000616,0.000099

## 8.	Sort by Total Homeless:
o	Problem: Add a new column for the total number of homeless people (individuals + family_members), then sort by this new column in descending order.
o	Questions:

1.	Which state has the highest total number of homeless people?

2.	What is the total number of homeless people in the state with the second-highest total?

3.	Which state has the lowest total number of homeless people?

4.	How many states have a total number of homeless people greater than 10,000?

## 9.	Sort by Percentage of Family Members:
o	Problem: Add a new column for the percentage of family members among the homeless (family_members / (individuals + family_members)), then sort by this new column in ascending order.
o	Questions:

1.	Which state has the lowest percentage of family members among the homeless?

2.	What is the percentage for the state with the highest number?

3.	Which states have a percentage higher than 50%?

4.	How many states have a percentage lower than 10%?

## 10.	Sort by Region and Total Homeless:
o	Problem: First, sort by the region column in ascending order, then by the total number of homeless people within each region in descending order.
o	Questions:

1.	Which state has the highest total number of homeless people in the Pacific region?

2.	What is the total number of homeless people in the state with the highest count in the Mountain region?

3.	Which state has the lowest total number of homeless people in the East North Central region?

4.	How many states in the South Atlantic region have a total number of homeless people greater than 5,000?

# SUBSETTING PROBLEMS

# FEATURE ENGINEERING

# COMBINED