In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
avocado = pd.read_pickle('../../avoplotto.pkl')
avocado.head()

         date          type  year  avg_price   size     nb_sold
0  2015-12-27  conventional  2015       0.95  small  9626901.09
1  2015-12-20  conventional  2015       0.98  small  8710021.76
2  2015-12-13  conventional  2015       0.93  small  9855053.66
3  2015-12-06  conventional  2015       0.89  small  9405464.36
4  2015-11-29  conventional  2015       0.99  small  8094803.56

In [4]:
avocado.to_csv('../../avocado.csv')