# AGGREGATING DATAFRAME PROBLEMS:

## 1•  What are the total and average weekly sales for each store and department combination?

## 2•  Calculate the median, minimum, and maximum weekly sales for each department, segmented by holiday and non-holiday status.

## 3•  Identify the top 5 stores with the highest average weekly sales and the bottom 5 stores with the lowest average weekly sales.

## 4•  How many unique stores and departments have recorded sales during holiday weeks? What is the total sales amount for these combinations?

## 5•  Determine the count of sales entries and the proportion of total entries for each department, both during holidays and non-holidays.

## 6•  Compare the total weekly sales and average weekly sales for stores that have recorded sales both during holidays and non-holidays.

## 7•  Create a summary that shows the total weekly sales for each store, including a row for the overall total sales across all stores.

## 8•  Find the store and department combinations with the highest and lowest median weekly sales, and display the top 5 and bottom 5 combinations.

## 9•  Calculate the total, mean, and count of weekly sales for each store and department, replacing any missing values with zero, and provide a summary including overall totals.

## 10•  Generate a pivot table to display the average weekly sales for each department, segmented by store, and include margins to show overall totals and averages.

In [1]:
import pandas as pd
import numpy as np

sales = pd.read_csv('../../sales_subset.csv', index_col=0)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

## 1•  What are the total and average weekly sales for each store and department combination?

In [2]:
sales.groupby(['store', 'department'])['weekly_sales'].agg([np.sum, np.mean])

                         sum          mean
store department
1     1            281901.06  23491.755000
      2            569053.49  47421.124167
      3            154471.08  12872.590000
      4            460587.07  38382.255833
      5            285133.44  23761.120000
...                      ...           ...
39    95          1166090.03  97174.169167
      96           299374.51  24947.875833
      97           276032.04  23002.670000
      98           109069.17   9089.097500
      99             3489.08    317.189091

[929 rows x 2 columns]

In [3]:
sales.pivot_table(values='weekly_sales', index='store', columns='department', aggfunc=[np.sum, np.mean])

                  sum                                                          \
department         1           2          3          4          5          6
store
1           281901.06   569053.49  154471.08  460587.07  285133.44   55507.82
2           388711.06   817879.97  204144.00  571805.37  363980.61   88358.13
4           432937.24  1062835.81  197172.52  677936.54  530252.88   99374.88
6           306223.15   610602.42  193934.66  429825.19  411201.00   87627.68
10          528607.52  1355502.32  366967.86  614635.85  758842.50  128607.57
13          548677.40   903832.14  282642.05  507285.94  711477.61  105982.13
14          430011.94   999103.66  248329.32  708035.67  476750.19  102248.91
19          276978.39   635219.88  236166.44  398380.04  393530.50   81584.31
20          567730.41   977000.28  191156.83  659967.49  547150.43  108285.86
27          386414.90   942826.13  239574.19  536809.88  384231.62  105224.09
31          210285.38   675643.52  115355.07  394998.56  211067.95   46501.44
39          257076.82   729223.66  202174.23  500040.93  281597.27   61295.38

                                                         ...           mean  \
department         7           8          9          10  ...             90
store                                                    ...
1           291171.28   437271.00  342116.76  373627.11  ...   77036.668333
2           462522.39   742724.78  434116.77  470427.41  ...   96287.285833
4           516902.92   798259.82  346282.12  396833.65  ...   81888.620833
6           385100.72   577055.59  605058.39  578644.47  ...   54023.220833
10          634915.84  1088805.04  800151.62  583141.52  ...   14780.210000
13          674166.35   451787.21  492836.12  351599.12  ...  106623.980833
14          660615.90   684065.09  281124.53  253780.91  ...  117609.785000
19          396489.81   529070.53  359092.94  333059.71  ...   68761.769167
20          580219.24   950640.10  433696.61  488848.77  ...   93837.060833
27          503387.00   528455.44  347739.02  435158.31  ...   97874.378333
31          212855.09   303096.68  128092.78  237731.45  ...   78224.240833
39          392541.76   410592.50  205743.35  163109.33  ...   71378.954167

                                                                      \
department             91             92            93            94
store
1            61442.168333  130305.417500  66381.449167  59790.562500
2            81594.454167  161952.515000  66311.135000  67940.985833
4            63608.029167  145688.587500  59376.261667  61960.787500
6            45319.874167   99420.256667  41216.411667  40966.983333
10           13199.602500   50859.278333   1466.274167    161.445833
13           78979.455833  149747.920833  45262.103333  69615.985833
14          109272.098333  205632.690833  74735.861667  72926.319167
19           58728.565833  115923.430833  37509.753333  38963.383333
20           79395.171667  161266.120000  50728.522500  61847.915833
27           70211.829167  149280.019167  56580.095833  68467.760000
31           67627.833333  117203.259167  51555.090000  62844.553333
39           58475.337500  100524.035000  37893.289167  55567.471667

                                                                     \
department             95            96            97            98
store
1           116773.157500  27897.153333  33771.761667  10853.782500
2           145280.273333  33841.960833  40757.997500  14009.203333
4           133363.804167  31375.716667  37857.276667  13091.005833
6            90182.779167  29789.024167  21483.556667   8708.703333
10           77082.102500   9528.538333   5828.873333    217.428333
13          129345.560833   8975.970833  26235.813333  14416.105833
14          166586.203333      3.406667  30432.933333  18927.250000
19          103595.491667  17181.115000  21637.064167  13323.250833
20          154626.178333     14.078889  25470.122500  18527.971667
27          124940.590000  21323.570833  22931.001667  11453.418333
31          101403.450833  29008.448333  29603.739167   9229.865833
39           97174.169167  24947.875833  23002.670000   9089.097500


department          99
store
1           466.364545
2           455.516364
4           164.090909
6           468.642727
10                 NaN
13          311.671667
14          381.369091
19          373.186364
20          383.190000
27          742.733636
31          134.753333
39          317.189091

[12 rows x 160 columns]

## 2•  Calculate the median, minimum, and maximum weekly sales for each department, segmented by holiday and non-holiday status.

In [5]:
sales.groupby('department')['weekly_sales'].agg([np.median, np.min, np.max])

                median      amin       amax
department
1            25478.905   9446.29  149743.97
2            70001.020  42431.88  123952.48
3            13788.100   6150.20   89316.82
4            44011.535  28762.65   66912.92
5            30943.785  11665.55  103531.25
...                ...       ...        ...
95          113995.825  60655.66  213042.66
96           23935.495    -19.02   45278.54
97           26354.365   5064.61   45017.96
98           11943.840     -2.25   24273.74
99             167.000   -147.00    5350.00

[80 rows x 3 columns]

In [6]:
sales.pivot_table(values='weekly_sales', index='department', aggfunc=[np.median, np.min, np.max])

                 median         amin         amax
           weekly_sales weekly_sales weekly_sales
department
1             25478.905      9446.29    149743.97
2             70001.020     42431.88    123952.48
3             13788.100      6150.20     89316.82
4             44011.535     28762.65     66912.92
5             30943.785     11665.55    103531.25
...                 ...          ...          ...
95           113995.825     60655.66    213042.66
96            23935.495       -19.02     45278.54
97            26354.365      5064.61     45017.96
98            11943.840        -2.25     24273.74
99              167.000      -147.00      5350.00

[80 rows x 3 columns]

## 3•  Identify the top 5 stores with the highest average weekly sales and the bottom 5 stores with the lowest average weekly sales.

## 4•  How many unique stores and departments have recorded sales during holiday weeks? What is the total sales amount for these combinations?

## 5•  Determine the count of sales entries and the proportion of total entries for each department, both during holidays and non-holidays.

## 6•  Compare the total weekly sales and average weekly sales for stores that have recorded sales both during holidays and non-holidays.

## 7•  Create a summary that shows the total weekly sales for each store, including a row for the overall total sales across all stores.

## 8•  Find the store and department combinations with the highest and lowest median weekly sales, and display the top 5 and bottom 5 combinations.

## 9•  Calculate the total, mean, and count of weekly sales for each store and department, replacing any missing values with zero, and provide a summary including overall totals.

## 10•  Generate a pivot table to display the average weekly sales for each department, segmented by store, and include margins to show overall totals and averages.