In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
sales = pd.read_csv('../../sales_subset.csv')
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

In [6]:
sales.describe()

,Unnamed: 0,store,department,weekly_sales,temperature_c,fuel_price_usd_per_l,unemployment
count,10774.000000,10774.000000,10774.000000,10774.000000,10774.000000,10774.000000,10774.000000
mean,5386.500000,15.441897,45.218118,23843.950149,15.731978,0.749746,8.082009
std,3110.330234,11.534511,29.867779,30220.387557,9.922446,0.059494,0.624355
min,0.000000,1.000000,1.000000,-1098.000000,-8.366667,0.664129,3.879000
25%,2693.250000,4.000000,20.000000,3867.115000,7.583333,0.708246,7.795000
50%,5386.500000,13.000000,40.000000,12049.065000,16.966667,0.743381,8.099000
75%,8079.750000,20.000000,72.000000,32349.850000,24.166667,0.781421,8.360000
max,10773.000000,39.000000,99.000000,293966.050000,33.827778,1.107674,9.765000

## Aggregating DataFrames: Counting
#### Dropping Duplicates

1.	Unique Stores

o	How many unique stores are there in the dataset?

2.	Unique Departments

o	How many unique departments are there in the dataset?

#### Dropping Duplicate Pairs

3.	Unique Store-Department Pairs

o	How many unique store-department pairs are there in the dataset?

4.	Unique Store-Date Pairs

o	How many unique store-date pairs are there?

#### Value Counts

5.	Department Sales Count

o	What is the count of sales entries for each department?

6.	Store Sales Count

o	What is the count of sales entries for each store?

7.	Holiday Sales Count

o	What is the count of sales entries for holidays versus non-holidays?

8.	Department Sales Count (Sorted)

o	What is the count of sales entries for each department, sorted in descending order?
Proportions

9.	Proportion of Sales per Department

o	What proportion of the total sales entries does each department represent?

10.	Proportion of Sales per Store

o	What proportion of the total sales entries does each store represent?

11.	Proportion of Holiday Sales

o	What proportion of the sales entries are holidays versus non-holidays?

#### Dropping Duplicates

1.	Unique Stores

o	How many unique stores are there in the dataset?

2.	Unique Departments

o	How many unique departments are there in the dataset?

In [14]:
# How many unique stores are there in the dataset?
unique_stores = sales.drop_duplicates(subset='store')
unique_stores['store'].count()

12

In [15]:
# o How many unique departments are there in the dataset?
unique_dept = sales.drop_duplicates(subset='department')
unique_dept['department'].count()

80

#### Dropping Duplicate Pairs

3.	Unique Store-Department Pairs

o	How many unique store-department pairs are there in the dataset?

4.	Unique Store-Date Pairs

o	How many unique store-date pairs are there?

In [23]:
# o	How many unique store-department pairs are there in the dataset?
unique_store_dept = sales.drop_duplicates(subset=['store', 'department'])
unique_store_dept[['store', 'department']].count()

store         929
department    929
dtype: int64

In [25]:
# o	How many unique store-date pairs are there?
un_store_date = sales.drop_duplicates(subset=['store', 'date'])
un_store_date[['store', 'date']].count()

store    558
date     558
dtype: int64

#### Value Counts

5.	Department Sales Count

o	What is the count of sales entries for each department?

6.	Store Sales Count

o	What is the count of sales entries for each store?

7.	Holiday Sales Count

o	What is the count of sales entries for holidays versus non-holidays?

8.	Department Sales Count (Sorted)

o	What is the count of sales entries for each department, sorted in descending order?
Proportions

9.	Proportion of Sales per Department

o	What proportion of the total sales entries does each department represent?

10.	Proportion of Sales per Store

o	What proportion of the total sales entries does each store represent?

11.	Proportion of Holiday Sales

o	What proportion of the sales entries are holidays versus non-holidays?

In [28]:
# o What is the count of sales entries for each department?
sales['department'].value_counts()

1     144
55    144
71    144
67    144
60    144
     ...
50     72
78     56
77     39
39      7
43      2
Name: department, Length: 80, dtype: int64

In [29]:
# o What is the count of sales entries for each store?
sales['store'].value_counts()

13    913
20    910
19    906
10    902
1     901
4     901
27    900
2     897
6     894
31    890
14    885
39    875
Name: store, dtype: int64

In [31]:
# o What is the count of sales entries for holidays versus non-holidays?
sales['is_holiday'].value_counts()

False    10732
True        42
Name: is_holiday, dtype: int64

In [32]:
# What is the count of sales entries for each department, sorted in descending order?
sales['department'].value_counts(sort=True)

1     144
55    144
71    144
67    144
60    144
     ...
50     72
78     56
77     39
39      7
43      2
Name: department, Length: 80, dtype: int64

In [33]:
# What proportion of the total sales entries does each department represent?
sales['department'].value_counts(normalize=True)

1     0.013366
55    0.013366
71    0.013366
67    0.013366
60    0.013366
        ...
50    0.006683
78    0.005198
77    0.003620
39    0.000650
43    0.000186
Name: department, Length: 80, dtype: float64

In [36]:
# What proportion of the total sales entries does each store represent?
sales['store'].value_counts(normalize=True)

13    0.084741
20    0.084463
19    0.084091
10    0.083720
1     0.083627
4     0.083627
27    0.083534
2     0.083256
6     0.082978
31    0.082606
14    0.082142
39    0.081214
Name: store, dtype: float64

In [37]:
# What proportion of the sales entries are holidays versus non-holidays?
sales['is_holiday'].value_counts(normalize=True)

False    0.996102
True     0.003898
Name: is_holiday, dtype: float64