In [1]:
import numpy as np
import pandas as pd

In [2]:
sales = pd.read_csv('../../sales_subset.csv', index_col=0)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

## GROUPED SUMMARY STATISTICS

### 1. Grouped Summaries

What is the average weekly sales for each store?

In [3]:
sales.groupby('store')['weekly_sales'].mean()

store
1     20896.941787
2     26517.435162
4     26126.986071
6     21561.186477
10    25696.678370
13    25664.149474
14    30384.003017
19    19930.838157
20    28382.766385
27    24207.474711
31    18178.932225
39    18414.938423
Name: weekly_sales, dtype: float64


### 2. Multiple Grouped Summaries

What are the minimum, maximum, and total weekly sales for each department?

In [6]:
sales.groupby('department')['weekly_sales'].agg([np.min, np.max, np.sum])

                amin       amax          sum
department
1            9446.29  149743.97   4615555.27
2           42431.88  123952.48  10278723.28
3            6150.20   89316.82   2632088.25
4           28762.65   66912.92   6460308.53
5           11665.55  103531.25   5355216.00
...              ...        ...          ...
95          60655.66  213042.66  17284245.13
96            -19.02   45278.54   2806589.86
97           5064.61   45017.96   3828153.72
98             -2.25   24273.74   1702165.00
99           -147.00    5350.00     46632.21

[80 rows x 3 columns]

### 3. Grouping by Multiple Variables

What is the average temperature for each store in each department?

In [7]:
sales.groupby(['store', 'department'])['temperature_c'].mean()

store  department
1      1             18.415278
       2             18.415278
       3             18.415278
       4             18.415278
       5             18.415278
                       ...
39     95            19.364815
       96            19.364815
       97            19.364815
       98            19.364815
       99            20.517172
Name: temperature_c, Length: 929, dtype: float64

### 4. Many Variables, Many Summaries

What are the average weekly sales and average temperature for each store and department?

In [10]:
sales.groupby(['store', 'department'])[['weekly_sales', 'temperature_c']].mean()

                  weekly_sales  temperature_c
store department
1     1           23491.755000      18.415278
      2           47421.124167      18.415278
      3           12872.590000      18.415278
      4           38382.255833      18.415278
      5           23761.120000      18.415278
...                        ...            ...
39    95          97174.169167      19.364815
      96          24947.875833      19.364815
      97          23002.670000      19.364815
      98           9089.097500      19.364815
      99            317.189091      20.517172

[929 rows x 2 columns]

### 5. Additional Grouped Summaries

What is the total number of holiday and non-holiday sales for each store?

In [12]:
sales.groupby(['store', 'is_holiday'])['weekly_sales'].sum()

store  is_holiday
1      False         18824302.08
       True              3842.47
2      False         23781849.54
       True              4289.80
4      False         23538062.45
       True              2352.00
6      False         19272878.71
       True              2822.00
10     False         23176782.48
       True              1621.41
13     False         23430084.47
       True              1284.00
14     False         26889522.48
       True               320.19
19     False         18056713.04
       True               626.33
20     False         25827640.38
       True               677.03
27     False         21780851.68
       True              5875.56
31     False         16178440.21
       True               809.47
39     False         16112368.16
       True               702.96
Name: weekly_sales, dtype: float64

In [13]:
sales[sales['is_holiday']]

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
498,1,A,45,2010-09-10,11.47,True,25.938889,0.677602,7.787
691,1,A,77,2011-11-25,1431.00,True,15.633333,0.854861,7.866
896,1,A,99,2011-11-25,2400.00,True,15.633333,0.854861,7.866
1532,2,A,60,2010-09-10,8.80,True,26.161111,0.677602,8.099
1587,2,A,77,2011-11-25,1431.00,True,13.533333,0.854861,7.441
1793,2,A,99,2011-11-25,2850.00,True,13.533333,0.854861,7.441
2297,4,A,45,2010-09-10,1.00,True,23.077778,0.679979,7.372
2315,4,A,47,2010-02-12,498.00,True,-1.755556,0.679715,8.623
2320,4,A,47,2010-09-10,898.00,True,23.077778,0.679979,7.372
2487,4,A,77,2011-11-25,954.00,True,8.866667,0.851955,5.143
2492,4,A,78,2010-02-12,1.00,True,-1.755556,0.679715,8.623
3383,6,A,77,2011-11-25,1272.00,True,17.100000,0.854861,6.551
3588,6,A,99,2011-11-25,1550.00,True,17.100000,0.854861,6.551
4092,10,B,45,2010-09-10,31.41,True,28.911111,0.782214,9.199
4295,10,B,77,2011-11-25,1590.00,True,15.933333,0.993287,7.874
5197,13,A,77,2011-11-25,1272.00,True,3.827778,0.910073,6.392
5198,13,A,78,2010-02-12,12.00,True,0.644444,0.705604,8.316
5606,14,A,18,2010-09-10,1.94,True,21.594444,0.713001,8.743
5876,14,A,43,2010-02-12,0.25,True,-2.372222,0.732549,8.992
6086,14,A,77,2011-11-25,318.00,True,9.283333,0.922489,8.523
6491,19,A,18,2010-09-10,188.00,True,17.422222,0.749456,8.099
6735,19,A,39,2012-09-07,13.41,True,22.333333,1.076766,8.193
6810,19,A,47,2010-12-31,-449.00,True,-1.861111,0.881278,8.067
6815,19,A,47,2012-02-10,15.00,True,0.338889,1.010723,7.943
6820,19,A,48,2011-09-09,197.00,True,20.155556,1.038197,7.806
6854,19,A,51,2010-09-10,19.92,True,17.422222,0.749456,8.099
6990,19,A,77,2011-11-25,636.00,True,5.972222,0.974531,7.866
6992,19,A,78,2010-02-12,6.00,True,-4.877778,0.776666,8.350
7718,20,A,47,2010-09-10,-598.00,True,18.344444,0.713001,7.527
7901,20,A,77,2011-11-25,1272.00,True,7.988889,0.922489,7.082
7906,20,A,78,2010-02-12,12.00,True,-5.488889,0.732549,8.187
8072,20,A,96,2012-09-07,-8.97,True,24.644444,1.033177,7.280
8619,27,A,47,2010-02-12,35.00,True,-1.216667,0.776666,8.237
8655,27,A,51,2010-02-12,13.56,True,-1.216667,0.776666,8.237
8794,27,A,77,2011-11-25,477.00,True,8.822222,0.974531,7.906
9003,27,A,99,2011-11-25,5350.00,True,8.822222,0.974531,7.906
9506,31,A,45,2010-09-10,14.47,True,26.277778,0.677602,8.099
9687,31,A,77,2011-11-25,795.00,True,13.572222,0.854861,7.441
10402,39,A,47,2010-02-12,40.00,True,6.988889,0.673111,8.554
10421,39,A,51,2010-02-12,14.96,True,6.988889,0.673111,8.554
10565,39,A,77,2011-11-25,636.00,True,19.088889,0.854861,7.716
10569,39,A,78,2010-02-12,12.00,True,6.988889,0.673111,8.554

### 6. Combining Aggregations

What are the minimum, average, and maximum unemployment rates for each store type?

In [14]:
sales.groupby('type')['unemployment'].agg([np.min, np.mean, np.max])

       amin      mean   amax
type
A     3.879  7.972611  8.992
B     7.170  9.279323  9.765

### 7. Grouping by Multiple Variables with Multiple Summaries

For each store and department, what are the minimum and maximum fuel prices, and the total weekly sales?

In [15]:
sales.groupby(['store', 'type'])[['fuel_price_usd_per_l', 'weekly_sales']].agg([np.min, np.max])

           fuel_price_usd_per_l           weekly_sales
                           amin      amax         amin       amax
store type
1     A                0.677602  1.031857       -698.0  140504.41
2     A                0.664129  1.031857      -1098.0  178982.89
4     A                0.670997  1.022875        -88.0  165765.50
6     A                0.676545  1.031857       -698.0  119812.38
10    B                0.760023  1.107674       -798.0  232558.51
13    A                0.704283  1.007817        -98.0  166872.27
14    A                0.713001  1.068841       -498.0  293966.05
19    A                0.749456  1.107410       -449.0  147449.06
20    A                0.713001  1.068841       -598.0  195223.84
27    A                0.749456  1.107410       -409.0  177605.86
31    A                0.677602  1.031857       -224.0  131062.82
39    A                0.673111  1.031857       -159.0  114691.10

### 8. Summarizing Weekly Sales by Holiday Status

What is the total and average weekly sales for holidays versus non-holidays for each department?

In [19]:
sales.groupby(['department', 'is_holiday'])['weekly_sales'].agg([np.sum, np.mean])

                               sum          mean
department is_holiday
1          False        4615555.27  32052.467153
2          False       10278723.28  71380.022778
3          False        2632088.25  18278.390625
4          False        6460308.53  44863.253681
5          False        5355216.00  37189.000000
...                            ...           ...
96         True              -8.97     -8.970000
97         False        3828153.72  26584.400833
98         False        1702165.00  11820.590278
99         False          34482.21    289.766471
           True           12150.00   3037.500000

[92 rows x 2 columns]

### 9. Store Performance Over Time

What is the average weekly sales and average unemployment rate for each store for each year?

In [24]:
sales['year'] = sales['date'].str[:4]
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,year
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,2010
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106,2010
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808,2010
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808,2010
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808,2010

In [26]:
sales.groupby(['store', 'year'])[['weekly_sales', 'unemployment']].mean()

            weekly_sales  unemployment
store year
1     2010  21398.363943      7.865000
      2011  17823.702637      7.761077
      2012    317.166667      7.077167
2     2010  27388.132724      8.185642
      2011  20287.983793      7.988667
      2012    171.006667      6.689833
4     2010  26758.385543      7.681594
      2011  22200.489762      6.390714
      2012    183.002857      4.384571
6     2010  22480.350201      7.067980
      2011  15080.839778      6.841089
      2012    226.574286      5.770000
10    2010  26173.169378      9.338999
      2011  21190.333086      8.701235
      2012    -11.980000      7.170000
13    2010  26472.766569      8.018676
      2011  20098.110230      7.374414
      2012    233.865714      5.898429
14    2010  31872.681070      8.827010
      2011  21982.167765      8.550341
      2012     86.918000      8.529200
19    2010  21033.584600      8.160091
      2011  12802.037604      7.775510
      2012    147.608000      8.074100
20    2010  29971.396900      7.726680
      2011  20108.673478      7.315880
      2012     66.773889      7.126056
27    2010  25324.509035      8.060163
      2011  17133.709130      7.828359
      2012    146.779000      8.127300
31    2010  18650.285696      8.184370
      2011  14944.020909      7.978466
      2012    -20.372000      7.023800
39    2010  19103.885186      8.455104
      2011  14283.126512      8.328814
      2012    279.568000      6.967200

### 10. Department-wise Sales During Holidays

For each department, what are the total and average weekly sales during holidays?

In [ ]:
sales.grpupby(['department', 'is_holiday'])['weekly_sales'].agg([np.sum, np.mean])