In [1]:
import numpy as np
import pandas as pd

In [2]:
sales = pd.read_csv('../../sales_subset.csv', index_col=0)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

## GROUPED SUMMARY STATISTICS

### 1. Grouped Summaries

What is the average weekly sales for each store?

In [3]:
sales.groupby('store')['weekly_sales'].mean()

store
1     20896.941787
2     26517.435162
4     26126.986071
6     21561.186477
10    25696.678370
13    25664.149474
14    30384.003017
19    19930.838157
20    28382.766385
27    24207.474711
31    18178.932225
39    18414.938423
Name: weekly_sales, dtype: float64


### 2. Multiple Grouped Summaries

What are the minimum, maximum, and total weekly sales for each department?

In [6]:
sales.groupby('department')['weekly_sales'].agg([np.min, np.max, np.sum])

                amin       amax          sum
department
1            9446.29  149743.97   4615555.27
2           42431.88  123952.48  10278723.28
3            6150.20   89316.82   2632088.25
4           28762.65   66912.92   6460308.53
5           11665.55  103531.25   5355216.00
...              ...        ...          ...
95          60655.66  213042.66  17284245.13
96            -19.02   45278.54   2806589.86
97           5064.61   45017.96   3828153.72
98             -2.25   24273.74   1702165.00
99           -147.00    5350.00     46632.21

[80 rows x 3 columns]

### 3. Grouping by Multiple Variables

What is the average temperature for each store in each department?

### 4. Many Variables, Many Summaries

What are the average weekly sales and average temperature for each store and department?

### 5. Additional Grouped Summaries

What is the total number of holiday and non-holiday sales for each store?

### 6. Combining Aggregations

What are the minimum, average, and maximum unemployment rates for each store type?

### 7. Grouping by Multiple Variables with Multiple Summaries

For each store and department, what are the minimum and maximum fuel prices, and the total weekly sales?

### 8. Summarizing Weekly Sales by Holiday Status

What is the total and average weekly sales for holidays versus non-holidays for each department?

### 9. Store Performance Over Time

What is the average weekly sales and average unemployment rate for each store for each year?

### 10. Department-wise Sales During Holidays

For each department, what are the total and average weekly sales during holidays?