In [1]:
import numpy as np
import pandas as pd

In [2]:
sales = pd.read_csv('../../sales_subset.csv', index_col=0)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

## GROUPED SUMMARY STATISTICS

### 1. Grouped Summaries

What is the average weekly sales for each store?

### 2. Multiple Grouped Summaries

What are the minimum, maximum, and total weekly sales for each department?

#### 3. Grouping by Multiple Variables

What is the average temperature for each store in each department?

#### 4. Many Variables, Many Summaries

What are the average weekly sales and average temperature for each store and department?

### 5. Additional Grouped Summaries

What is the total number of holiday and non-holiday sales for each store?
6. Combining Aggregations
What are the minimum, average, and maximum unemployment rates for each store type?
7. Grouping by Multiple Variables with Multiple Summaries
For each store and department, what are the minimum and maximum fuel prices, and the total weekly sales?
8. Summarizing Weekly Sales by Holiday Status
What is the total and average weekly sales for holidays versus non-holidays for each department?
9. Store Performance Over Time
What is the average weekly sales and average unemployment rate for each store for each year?
10. Department-wise Sales During Holidays
For each department, what are the total and average weekly sales during holidays?