In [1]:
import pandas as pd
import numpy as np

In [3]:
sales = pd.read_csv('../../sales_subset.csv', index_col=0)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

Problem 1: Summary Statistics, Sorting, and Subsetting

1.	Calculate Summary Statistics and Subset the Data

o	Calculate the mean, median, and standard deviation of the weekly_sales column.

o	Sort the dataset by weekly_sales in descending order.

o	Create a subset of transactions that occurred in the year 2010.

o	Questions:

1.	What are the mean, median, and standard deviation of the weekly_sales?

2.	Which transaction has the highest weekly_sales?

3.	How many transactions occurred in the year 2010?

4.	What are the earliest and latest transaction dates in this subset?

In [4]:
# 1.	What are the mean, median, and standard deviation of the weekly_sales?
sales['weekly_sales'].agg([np.mean, np.median, np.std])

mean      23843.950149
median    12049.065000
std       30220.387557
Name: weekly_sales, dtype: float64

In [11]:
# 2.	Which transaction has the highest weekly_sales?
sales_weekly_sales = sales.sort_values('weekly_sales', ascending=False)
print(sales_weekly_sales.index[0])
sales_weekly_sales.head()

6201

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
6201,14,A,92,2010-02-05,293966.05,False,-2.605556,0.735455,8.992
4271,10,B,72,2010-02-05,232558.51,False,12.411111,0.782478,9.765
4281,10,B,72,2010-12-03,218559.54,False,10.650000,0.803348,9.003
6202,14,A,92,2010-03-05,214383.07,False,2.850000,0.733606,8.992
6237,14,A,95,2010-02-05,213042.66,False,-2.605556,0.735455,8.992

In [17]:
# 3.	How many transactions occurred in the year 2010?
sales_weekly_sales['date'].str.contains('2010').sum()

9613

In [15]:
sales_weekly_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 6201 to 1420
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

In [20]:
# 4.	What are the earliest and latest transaction dates in this subset?
print('earliest transaction {}'.format(sales_weekly_sales['date'].min()))
print('latest transaction {}'.format(sales_weekly_sales['date'].max()))

earliest transaction 2010-02-05
latest transaction 2012-10-26