In [1]:
import pandas as pd
import numpy as np

In [3]:
sales = pd.read_csv('../../sales_subset.csv', index_col=0)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

Problem 1: Summary Statistics, Sorting, and Subsetting

1.	Calculate Summary Statistics and Subset the Data

o	Calculate the mean, median, and standard deviation of the weekly_sales column.

o	Sort the dataset by weekly_sales in descending order.

o	Create a subset of transactions that occurred in the year 2010.

o	Questions:

1.	What are the mean, median, and standard deviation of the weekly_sales?

2.	Which transaction has the highest weekly_sales?

3.	How many transactions occurred in the year 2010?

4.	What are the earliest and latest transaction dates in this subset?

In [4]:
# 1.	What are the mean, median, and standard deviation of the weekly_sales?
sales['weekly_sales'].agg([np.mean, np.median, np.std])

mean      23843.950149
median    12049.065000
std       30220.387557
Name: weekly_sales, dtype: float64

In [11]:
# 2.	Which transaction has the highest weekly_sales?
sales_weekly_sales = sales.sort_values('weekly_sales', ascending=False)
print(sales_weekly_sales.index[0])
sales_weekly_sales.head()

6201

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
6201,14,A,92,2010-02-05,293966.05,False,-2.605556,0.735455,8.992
4271,10,B,72,2010-02-05,232558.51,False,12.411111,0.782478,9.765
4281,10,B,72,2010-12-03,218559.54,False,10.650000,0.803348,9.003
6202,14,A,92,2010-03-05,214383.07,False,2.850000,0.733606,8.992
6237,14,A,95,2010-02-05,213042.66,False,-2.605556,0.735455,8.992

In [17]:
# 3.	How many transactions occurred in the year 2010?
sales_weekly_sales['date'].str.contains('2010').sum()

9613

In [15]:
sales_weekly_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 6201 to 1420
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

In [20]:
# 4.	What are the earliest and latest transaction dates in this subset?
print('earliest transaction {}'.format(sales_weekly_sales['date'].min()))
print('latest transaction {}'.format(sales_weekly_sales['date'].max()))

earliest transaction 2010-02-05
latest transaction 2012-10-26

## Problem 2: Creating New Columns, Aggregating, and Cumulative Statistics

o	Create a New Column and Aggregate Statistics

o	Create a new column adjusted_sales by dividing weekly_sales by fuel_price_usd_per_l.

o	Use the .agg() method to calculate the mean, median, and sum of the adjusted_sales column.

o	Calculate the cumulative sum and cumulative maximum of the adjusted_sales column.

o	Questions:

1.	What are the mean, median, and sum of the adjusted_sales?

2.	What is the cumulative sum of adjusted_sales up to the 10th transaction?

3.	What is the cumulative maximum adjusted_sales up to the 10th transaction?

In [21]:
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [22]:
sales['adjusted_sales']  = sales['weekly_sales'] /  sales['fuel_price_usd_per_l']
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,adjusted_sales
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,36683.301534
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106,31477.162262
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808,79715.569513
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808,23251.817501
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808,24571.005348

In [23]:
# 1.	What are the mean, median, and sum of the adjusted_sales?
sales['adjusted_sales'].agg([np.mean, np.median, np.sum])

mean      3.211381e+04
median    1.624979e+04
sum       3.459942e+08
Name: adjusted_sales, dtype: float64

In [25]:
# 2.	What is the cumulative sum of adjusted_sales up to the 10th transaction?
sales['adjusted_sales'].iloc[:10].cumsum()

0     36683.301534
1     68160.463796
2    147876.033309
3    171127.850810
4    195698.856159
5    218863.948511
6    244092.920836
7    267950.816230
8    297172.770808
9    345372.175323
Name: adjusted_sales, dtype: float64

In [26]:
# 3.	What is the cumulative maximum adjusted_sales up to the 10th transaction?
sales['adjusted_sales'].iloc[:10].cummax()

0    36683.301534
1    36683.301534
2    79715.569513
3    79715.569513
4    79715.569513
5    79715.569513
6    79715.569513
7    79715.569513
8    79715.569513
9    79715.569513
Name: adjusted_sales, dtype: float64

### Problem 3: Subsetting, Sorting, and Multiple Summaries

o	Subset, Sort, and Multiple Summaries

o	Create a subset of transactions where the temperature_c is greater than 20.

o	Sort this subset by weekly_sales in descending order.

o	Use the .agg() method to calculate the mean, median, minimum, and maximum for the weekly_sales column in this subset.

o	Questions:

1.	Which transaction has the highest weekly_sales in this subset?

2.	What are the mean, median, minimum, and maximum of weekly_sales in this subset?

3.	How many transactions have temperature_c greater than 20?

In [28]:
sales_temp20 = sales[sales['temperature_c'] > 20]
sales_temp20 = sales_temp20.sort_values('weekly_sales', ascending=False)
sales_temp20.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,adjusted_sales
6204,14,A,92,2010-05-07,206160.36,False,21.527778,0.783535,8.899,263115.808613
6207,14,A,92,2010-08-06,204695.13,False,25.094444,0.735455,8.743,278324.350594
6208,14,A,92,2010-09-03,198704.92,False,25.761111,0.717227,8.743,277045.889951
6206,14,A,92,2010-07-02,198349.17,False,24.783333,0.743645,8.743,266725.730590
6242,14,A,95,2010-07-02,190412.82,False,24.783333,0.743645,8.743,256053.496610

In [29]:
# 2.	What are the mean, median, minimum, and maximum of weekly_sales in this subset?
sales_temp20['weekly_sales'].agg([np.mean, np.median, np.min, np.max])

mean       23796.231982
median     12059.110000
amin       -1098.000000
amax      206160.360000
Name: weekly_sales, dtype: float64

In [30]:
# 1.	Which transaction has the highest weekly_sales in this subset?
sales_temp20.index[0]

6204

In [31]:
# 3.	How many transactions have temperature_c greater than 20?
len(sales_temp20)

4671

### Problem 4: Multiple Summaries and Dates

o	Multiple Summaries and Summarizing Dates

o	Use the .agg() method to calculate the mean and standard deviation of both weekly_sales and temperature_c.

o	Calculate the earliest and latest transaction dates in the dataset.

o	Questions:

1.	What are the mean and standard deviation of weekly_sales and temperature_c?

2.	What is the earliest transaction date?

3.	What is the latest transaction date?

In [32]:
# 1.	What are the mean and standard deviation of weekly_sales and temperature_c?
sales[['weekly_sales', 'temperature_c']].agg([np.mean, np.std])

      weekly_sales  temperature_c
mean  23843.950149      15.731978
std   30220.387557       9.922446

In [34]:

print('earliest {}'.format(sales['date'].min()))
print('lastest {}'.format(sales['date'].max()))

earliest 2010-02-05
lastest 2012-10-26