# EXPLICIT INDEXES

In [1]:
import pandas as pd
import numpy as np

In [2]:
temperature = pd.read_csv('../../temperatures.csv', index_col = 0)
temperature.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [4]:
temperature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16500 entries, 0 to 16499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        16500 non-null  object
 1   city        16500 non-null  object
 2   country     16500 non-null  object
 3   avg_temp_c  16407 non-null  float64
dtypes: float64(1), object(3)
memory usage: 644.5+ KB

In [5]:
temperature.describe()

         avg_temp_c
count  16407.000000
mean      19.732877
std        9.579635
min      -23.495000
25%       14.870000
50%       22.119000
75%       27.001500
max       38.283000


### 1.	Setting a column as index:

o	How would you set the date column as the index of the temperature DataFrame?

### 2.	Removing index:

o	After setting date as the index, how would you reset it back to a regular column?

### 3.	Dropping index:

o	How can you reset the index to a default integer index and drop the date column completely from the DataFrame?
INDEX SUBSETTINGS

4.	Index subsettings:

o	Suppose you set city as the index. How would you subset the DataFrame to include only data for 'Abidjan' and 'New York'?