# Slicing and Subsetting with .loc and .iloc

In [1]:
import pandas as pd
import numpy as np
temperature = pd.read_csv('../../temperatures.csv', index_col=0)
temperature.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

### 1. Slicing Lists:

Extract the temperature data for the first five entries using .iloc.

### 2. Slicing Outer Index Level:

Set the 'date' column as the index and then slice the data to get temperatures from January 1, 2000, to March 1, 2000.


### 3. Slicing Inner Index Level:

Set a multi-level index with 'country' and 'city' and slice the data to get temperatures for a range of countries and cities.

### 4. Slicing Rows and Columns:

Set a multi-level index with 'country' and 'city' and slice the data to get temperatures for specific countries and cities while selecting only the 'avg_temp_c' column.

### 5. Slicing Dates:

Set the 'date' column as the index and slice the data to get temperatures from August 25, 2014, to September 16, 2016.

### 6. Slicing by Partial Dates:

Set the 'date' column as the index and slice the data to get temperatures for the years 2016 to 2018.

### 7. Subsetting by Row/Column Number:

Use .iloc to extract a subset of rows and columns, specifically rows 2 to 5 and columns 1 to 4.

## Challenge Tasks

### 8. Combination Slicing:

Set a multi-level index with 'country' and 'city', then slice the data to get temperatures for 'Côte D'Ivoire' from January to March 2000.

### 9. Date Range Filtering:

Filter the dataset to include only temperatures recorded in the year 2005.

### 10. Multi-Level Indexing with Specific Rows and Columns:

Set a multi-level index with 'country' and 'city', then slice to get temperatures for 'Côte D'Ivoire' and 'Abidjan' for specific date ranges while selecting only the 'avg_temp_c' column.