# Working with Pivot Tables

In [3]:
import pandas as pd
import numpy as np

In [4]:
temp = pd.read_csv('../../temperatures.csv', index_col=0)
temp.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

## 1.	Pivoting the Data Frame:
	Create a pivot table to find the average temperature for each city across different years. Use date as columns and city as index.

In [11]:
temp['year'] = temp['date'].str[:4]
temp_city_vs_year = temp.pivot_table('avg_temp_c', index='city', columns='year')
temp_city_vs_year.head()

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
city,,,,,,,,,,,,,,
Abidjan,26.753083,26.693583,26.841000,27.050667,26.986000,26.976583,26.988083,27.006833,26.944500,26.982000,27.445417,27.017583,26.766333,27.228500
Addis Abeba,18.241250,18.296417,18.469750,18.320917,18.292750,18.312833,18.427083,18.142583,18.165000,18.765333,18.298250,18.606750,18.448583,19.539000
Ahmadabad,27.436000,27.198083,27.719083,27.403833,27.628333,26.828083,27.282833,27.511167,27.048500,28.095833,28.017833,27.290417,27.027250,27.608625
Aleppo,18.149250,18.750667,18.219000,18.203083,18.145917,18.105667,18.166083,18.392167,18.590083,18.438083,19.979417,18.016583,18.691917,19.503625
Alexandria,20.744500,21.454583,21.456167,21.221417,21.064167,21.082333,21.148167,21.507750,21.739000,21.670500,22.459583,21.181500,21.552583,21.438500

## 2.	.loc[] + Slicing:
	Using the pivot table created in the previous question, slice the data to get the average temperatures for cities from 2005 to 2010.

In [13]:
temp_city_vs_year.loc[:,'2005':'2010']

year              2005       2006       2007       2008       2009       2010
city
Abidjan      26.976583  26.988083  27.006833  26.944500  26.982000  27.445417
Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333  18.298250
Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833  28.017833
Aleppo       18.105667  18.166083  18.392167  18.590083  18.438083  19.979417
Alexandria   21.082333  21.148167  21.507750  21.739000  21.670500  22.459583
...                ...        ...        ...        ...        ...        ...
Tokyo        12.987167  13.280417  13.681333  13.310667  13.546083  13.820500
Toronto       7.216750   7.846833   7.071333   6.576750   6.282583   7.774500
Umm Durman   30.168333  29.551833  29.584167  29.911333  30.460167  30.730167
Wuhan        17.548750  18.030917  18.240667  17.597583  17.816750  17.568250
Xian         12.244750  12.990750  12.765833  12.128750  12.528417  12.589750

[100 rows x 6 columns]

## 3.	Axis Argument:
	Calculate the mean temperature across different cities for each year.
	Calculate the mean temperature for each city across all years.

In [15]:
temp_city_vs_year

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
city,,,,,,,,,,,,,,
Abidjan,26.753083,26.693583,26.841000,27.050667,26.986000,26.976583,26.988083,27.006833,26.944500,26.982000,27.445417,27.017583,26.766333,27.228500
Addis Abeba,18.241250,18.296417,18.469750,18.320917,18.292750,18.312833,18.427083,18.142583,18.165000,18.765333,18.298250,18.606750,18.448583,19.539000
Ahmadabad,27.436000,27.198083,27.719083,27.403833,27.628333,26.828083,27.282833,27.511167,27.048500,28.095833,28.017833,27.290417,27.027250,27.608625
Aleppo,18.149250,18.750667,18.219000,18.203083,18.145917,18.105667,18.166083,18.392167,18.590083,18.438083,19.979417,18.016583,18.691917,19.503625
Alexandria,20.744500,21.454583,21.456167,21.221417,21.064167,21.082333,21.148167,21.507750,21.739000,21.670500,22.459583,21.181500,21.552583,21.438500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tokyo,13.501833,13.125833,13.422000,12.885500,14.047250,12.987167,13.280417,13.681333,13.310667,13.546083,13.820500,13.321833,13.113250,13.911500
Toronto,6.674000,7.761667,7.482333,6.022000,6.395833,7.216750,7.846833,7.071333,6.576750,6.282583,7.774500,7.299583,8.664667,8.459444
Umm Durman,29.621250,29.805500,29.989500,29.679917,29.890417,30.168333,29.551833,29.584167,29.911333,30.460167,30.730167,29.963667,29.961083,30.650500
Wuhan,17.442667,17.689667,17.788000,17.482000,17.974583,17.548750,18.030917,18.240667,17.597583,17.816750,17.568250,17.387583,17.153333,19.285500
Xian,12.182000,12.431833,12.816000,11.895750,12.494917,12.244750,12.990750,12.765833,12.128750,12.528417,12.589750,12.075167,11.898167,14.460000

In [14]:
temp_city_vs_year.mean(axis='columns')

city
Abidjan        26.977155
Addis Abeba    18.451893
Ahmadabad      27.435420
Aleppo         18.525110
Alexandria     21.408625
                 ...
Tokyo          13.425369
Toronto         7.252020
Umm Durman     29.997702
Wuhan          17.786161
Xian           12.535863
Length: 100, dtype: float64

## Specific Questions

## 4. 	Pivot Table:
	Create a pivot table to find the maximum temperature recorded for each city in each country. Use city as index and country as columns.

## 5. 	Slicing:
	From the pivot table in the previous question, slice the data to get the maximum temperatures recorded in Brazil and Australia.

## 6. 	Axis Argument:
	Calculate the sum of temperatures across different cities for each year from the pivot table created in the first question.
	Calculate the sum of temperatures for each city across all years from the pivot table created in the first question.