# Working with Pivot Tables

In [3]:
import pandas as pd
import numpy as np

In [4]:
temp = pd.read_csv('../../temperatures.csv', index_col=0)
temp.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

## 1.	Pivoting the Data Frame:
	Create a pivot table to find the average temperature for each city across different years. Use date as columns and city as index.

## 2.	.loc[] + Slicing:
	Using the pivot table created in the previous question, slice the data to get the average temperatures for cities from 2005 to 2010.

## 3.	Axis Argument:
	Calculate the mean temperature across different cities for each year.
	Calculate the mean temperature for each city across all years.

## Specific Questions

## 4. 	Pivot Table:
	Create a pivot table to find the maximum temperature recorded for each city in each country. Use city as index and country as columns.

## 5. 	Slicing:
	From the pivot table in the previous question, slice the data to get the maximum temperatures recorded in Brazil and Australia.

## 6. 	Axis Argument:
	Calculate the sum of temperatures across different cities for each year from the pivot table created in the first question.
	Calculate the sum of temperatures for each city across all years from the pivot table created in the first question.