# TEST ON SLICING AND INDEXING DATAFRAMES

In [2]:
import pandas as pd
import numpy as np
temp = pd.read_csv('../../temperatures.csv', index_col=0)
temp.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

## 1•  City Temperature Analysis:
	Create an analysis to find the average temperature for each city across different years. Filter the results to show only the cities with an average temperature above 25°C from 2000 to 2010.

In [11]:
temp['year'] = temp['date'].str[:4]
temp_above_25 = temp[temp['avg_temp_c'] > 25]
temp_city_year = temp_above_25.pivot_table('avg_temp_c', index='city', columns='year')
temp_city_year.loc[:, '2000':'2010']

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
city,,,,,,,,,,,
Abidjan,27.128300,27.378333,27.046545,27.248000,27.420800,27.427900,26.988083,27.006833,26.944500,27.167182,27.445417
Ahmadabad,29.491111,29.112111,29.775556,29.262444,29.579111,29.552500,28.515800,29.393889,29.093667,29.873667,30.165444
Aleppo,28.872000,28.849500,28.358750,28.530250,28.348250,28.272250,28.622500,29.072000,29.099750,29.462000,29.958500
Alexandria,26.653333,27.434333,27.866667,26.721500,26.784667,27.215333,26.740500,27.008500,27.242000,27.036500,26.932600
Ankara,NaN,NaN,NaN,NaN,NaN,NaN,25.751000,NaN,NaN,NaN,26.044000
...,...,...,...,...,...,...,...,...,...,...,...
Tianjin,27.169333,26.445000,26.816000,25.774500,25.672000,26.441333,26.023333,26.483000,26.385500,26.066333,26.891000
Tokyo,25.528500,26.326000,25.658000,NaN,25.975000,25.567000,25.503000,26.360000,NaN,NaN,26.426500
Umm Durman,31.505556,31.016900,31.579800,30.769000,31.925778,30.929818,30.239636,30.975700,31.251600,31.669500,30.730167
Wuhan,28.379000,27.478750,27.918333,27.724000,27.540000,27.766000,28.773333,28.371333,27.276500,27.862250,27.401750
Xian,25.578000,26.094000,25.513000,NaN,NaN,25.045000,25.957000,NaN,NaN,25.500000,25.722000

## 2•  Country-Based Temperature Trends:
	Identify the cities in 'India' and 'China' and calculate the mean temperature for these cities from 2005 to 2012. Compare the results and determine which country had a higher average temperature during this period.

In [35]:
temp_ind_china = temp[temp['country'].isin(['India', 'China'])]
temp_ind_ch = temp_ind_china.pivot_table('avg_temp_c', index=['country'], columns='year').loc[:,'2005':'2010']

print('India has higher average temperature of 26 degrees')
temp_ind_ch.mean(axis='columns')

India has higher average temperature of 26 degrees

country
China    13.020714
India    26.666893
dtype: float64

## 3•  Maximum Temperature Comparison:
	Find the maximum temperature recorded for each city and then subset the data to include only the top 5 cities with the highest maximum temperatures. List these cities and their corresponding maximum temperatures.

In [40]:
temp_max = temp.pivot_table('avg_temp_c', index='city', aggfunc=np.max)
temp_max.sort_values('avg_temp_c', ascending=False).head()

           avg_temp_c
city
Baghdad        38.283
Riyadh         37.859
Jaipur         36.477
Delhi          36.339
New Delhi      36.339

## 4•  Yearly Temperature Range:
	Create a pivot table to show the range (difference between maximum and minimum) of temperatures for each city for the years 2003 to 2008. Identify the city with the highest range of temperatures.

In [57]:
temp_pt_yr = temp[(temp['year'] >= '2003') & (temp['year'] <= '2008')]
temp_pt = temp_pt_yr.pivot_table('avg_temp_c', index=['country','city'], aggfunc=[np.max,np.min])
temp_pt.columns = ['max_temp', 'min_temp']
temp_pt['temp_range'] = temp_pt['max_temp'] - temp_pt['min_temp']
temp_pt.sort_values('temp_range', ascending=False).head(20)

                                max_temp  min_temp  temp_range
country       city
China         Harbin              24.069   -18.862      42.931
              Changchun           24.103   -16.095      40.198
Canada        Montreal            21.636   -16.513      38.149
China         Shenyang            24.338   -11.366      35.704
Iran          Mashhad             26.771    -8.384      35.155
Russia        Moscow              19.809   -14.404      34.213
Canada        Toronto             21.605   -11.382      32.987
China         Taiyuan             24.138    -8.725      32.863
              Tianjin             27.687    -3.914      31.601
              Peking              27.687    -3.914      31.601
Russia        Saint Petersburg    19.782   -11.762      31.544
Turkey        Ankara              25.751    -5.183      30.934
United States New York            24.165    -6.325      30.490
Iraq          Baghdad             37.143     6.766      30.377
South Korea   Seoul               26.128    -4.235      30.363
China         Xian                25.957    -4.311      30.268
              Tangshan            26.646    -3.613      30.259
Ukraine       Kiev                21.693    -8.213      29.906
China         Dalian              24.855    -4.406      29.261
              Jinan               27.054    -1.858      28.912

## 5•  Seasonal Temperature Variations:
	Extract data for the months of June, July, and August for the years 2000 to 2010. Determine which city had the highest average summer temperature and provide the details.

In [59]:
temp['month'] = temp['date'].str[5:7]
temp.head()

         date     city        country  avg_temp_c  year month
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293  2000    01
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685  2000    02
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061  2000    03
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162  2000    04
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547  2000    05

In [69]:
temp_year = temp[(temp['year'] >= '2000') & (temp['year'] <= '2010')]
temp_month = temp_year[temp['month'].isin(['06','07','08'])]
print('Riyadh has the highest average tempetature of 36.28 degrees')
temp_month.pivot_table('avg_temp_c', index=['country','city']).sort_values('avg_temp_c', ascending=False)

Riyadh has the highest average tempetature of 36.28 degrees

C:\Users\Divya\AppData\Local\Temp\ipykernel_14016\1130782665.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  temp_month = temp_year[temp['month'].isin(['06','07','08'])]

                         avg_temp_c
country      city
Saudi Arabia Riyadh       36.287788
Iraq         Baghdad      35.791879
Pakistan     Faisalabad   33.025364
             Lahore       33.025364
Saudi Arabia Jiddah       32.547394
...                             ...
Australia    Sydney       15.166576
Peru         Lima         14.712485
South Africa Cape Town    12.993939
Australia    Melbourne     9.245545
Chile        Santiago      0.141606

[100 rows x 1 columns]

## 6•  Multi-Level Index Analysis:
	Set a multi-level index with 'country' and 'city'. Slice the data to get temperature records for 'Australia' and 'Brazil' for the years 2001 to 2005. Calculate the average temperature for each city in these countries during this period.

In [76]:
temp_cou_city = temp.pivot_table('avg_temp_c', index=['country', 'city'], columns='year')
temp_cou_city.loc[['Australia', 'Brazil'], '2001':'2005'].mean(axis='columns')

country    city
Australia  Melbourne         14.072400
           Sydney            17.815683
Brazil     Belo Horizonte    22.072200
           Brasília          22.766633
           Fortaleza         27.860167
           Rio De Janeiro    24.818583
           Salvador          25.578417
           São Paulo         20.771017
dtype: float64

## 7•  Date-Based Slicing:
	The dataset is indexed by date. Slice the data to extract temperatures for the period from '2007-01-01' to '2009-12-31'. Identify the city with the lowest recorded temperature within this date range and provide the details.

In [102]:
temp['date'] = pd.to_datetime(temp['date'])
temp_date = temp.set_index('date')
temp_date.loc['2007-01-01':'2009-12-31'].sort_values('avg_temp_c').head(1)['city']

date
2008-01-01    Harbin
Name: city, dtype: object

## 8•  Temperature Extremes:
	Find the cities that recorded temperatures below 10°C or above 35°C at any point in the dataset. Create a list of these cities along with the respective minimum and maximum temperatures recorded.

In [149]:
temp_cities = temp[(temp['avg_temp_c'] < 10) | (temp['avg_temp_c'] > 35)].sort_values('city')
# temp_cities.groupby(['country', 'city'])['avg_temp_c'].agg(['min', 'max'])
temp_cities

            date       city country  avg_temp_c  year month
454   2010-05-01  Ahmadabad   India      35.419  2010    05
590   2007-12-01     Aleppo   Syria       6.622  2007    12
591   2008-01-01     Aleppo   Syria       3.063  2008    01
592   2008-02-01     Aleppo   Syria       7.025  2008    02
602   2008-12-01     Aleppo   Syria       6.575  2008    12
...          ...        ...     ...         ...   ...   ...
16381 2003-11-01       Xian   China       4.599  2003    11
16373 2003-03-01       Xian   China       6.603  2003    03
16372 2003-02-01       Xian   China       3.205  2003    02
16385 2004-03-01       Xian   China       8.498  2004    03
16492 2013-02-01       Xian   China       2.362  2013    02

[2778 rows x 6 columns]

In [137]:
temp[temp['city'] == 'Delhi']

           date   city country  avg_temp_c  year month
4290 2000-01-01  Delhi   India      15.201  2000    01
4291 2000-02-01  Delhi   India      16.388  2000    02
4292 2000-03-01  Delhi   India      22.921  2000    03
4293 2000-04-01  Delhi   India      31.266  2000    04
4294 2000-05-01  Delhi   India      34.524  2000    05
...         ...    ...     ...         ...   ...   ...
4450 2013-05-01  Delhi   India      34.746  2013    05
4451 2013-06-01  Delhi   India      33.066  2013    06
4452 2013-07-01  Delhi   India      31.053  2013    07
4453 2013-08-01  Delhi   India      29.900  2013    08
4454 2013-09-01  Delhi   India         NaN  2013    09

[165 rows x 6 columns]

In [159]:
def createlist(city, temp):
    print(0)
#     print(city, max(temp), min(temp))
ci = ''
ti = []
for index, row in temp_cities.iterrows():
    ci = row['city']
    
    if row['city'] == ci:
        ti.append(row['avg_temp_c'])
    else:
        createlist(ci, ti)
        ci.clear()
        ti.clear()

[35.41900000000001, 6.622000000000001, 3.063, 7.025, 6.575, 5.742000000000001, 8.866, 9.943, 8.779, 9.578, 9.496, 6.789, 8.246, 9.317, 6.581, 5.3729999999999976, 9.566, 8.05, 6.601, 9.802, 8.351, 4.724, 6.1610000000000005, 8.437999999999999, 5.8370000000000015, 5.205, 6.8320000000000025, 7.306, 8.787, 8.173, 4.806, 9.745, 5.473, 7.598, 7.636, 9.83, 6.077999999999999, 9.044, 6.415, 7.257999999999999, 7.077000000000001, 6.316, 7.194, 5.5710000000000015, 5.455, 1.962, 6.165, 0.185, 9.716, 4.543, 2.967, 0.6159999999999999, -5.183, 9.13, -2.3160000000000007, 0.524, 5.966, 7.883000000000001, 5.252999999999999, 5.922999999999999, 7.477, 7.707999999999997, -3.2660000000000013, 4.582, 0.909, 7.216, 4.325, 0.8969999999999998, 2.333, 7.849, 2.5410000000000004, -2.496, 1.405, 1.54, 9.985, 8.758000000000001, 4.822, 1.196, 0.327, 9.669, -0.1059999999999999, 4.171, 4.3610000000000015, 3.649, -2.3510000000000004, 6.78, 9.481, 7.609, 3.228, 1.65, -1.2980000000000005, 5.817, 1.396, 0.984, 6.9670000000000005, 3.0450000000000004, -2.0939999999999994, -4.621, -0.7930000000000001, 2.769, 2.092, -5.3729999999999976, 6.524, 9.239, 0.0509999999999999, -2.842, 1.624, 5.21, 5.394, 1.628, 0.4409999999999998, 1.247, 9.987, 6.045, 1.4269999999999998, -0.913, 0.962, 6.6670000000000025, 5.894, 37.143, 35.62699999999999, 9.044, 35.061, 35.523, 35.478, 37.87, 36.392, 37.184, 36.151, 9.664, 35.726, 37.371, 36.559, 6.766000000000001, 35.463, 37.899, 36.11, 36.4, 8.597999999999999, 36.429, 38.283, 36.737, 36.653, 37.017, 36.838, 35.719, 36.639, 9.604, 9.012, 36.512, 35.543, 35.60800000000001, 35.982, 37.041, 8.774999999999999, 35.984, -1.939, -4.702, 0.1859999999999998, 8.033000000000001, 8.222000000000001, 5.541, 1.126, 1.935, 4.115, 9.968, 8.831, 5.2570000000000014, 5.114999999999998, 4.007, 2.338, 0.056, 8.732000000000001, 5.9380000000000015, 5.115, 4.579, 8.339, 7.702000000000001, 9.088, -0.3910000000000005, 0.3139999999999999, 0.113, 0.999, 5.785, 9.485, 9.458, 9.474, -1.944, 2.17, 4.875, 5.364, 0.1339999999999999, 1.614, -4.412000000000001, 5.283, 7.79, 4.027, -0.236, 5.641, 4.734, 8.456, 8.693999999999999, 5.934, 5.694999999999999, 1.994, -0.149, 4.25, 8.407, 3.816, 2.268, 1.1180000000000003, 3.202, 7.099, 5.806, 4.718, 1.3240000000000005, -1.6789999999999998, -1.38, -0.127, 8.896, 7.899, 9.234, 1.887, 0.0889999999999999, -3.395, 1.385, 4.913, 5.127999999999999, 5.494, 3.808, 2.246, 4.908, 5.404, 3.139, -0.991, 2.625, 6.7200000000000015, 6.485000000000001, 3.103, 9.783, 9.012, 9.267, 9.075, 8.295, 9.488, 8.324, 9.877999999999998, 9.71, 8.894, 9.245, -15.830000000000002, -14.996, -5.864, 7.7970000000000015, 9.659, -2.415, -9.808, -14.03, -10.497, -2.756, 2.664, -9.687, 4.717, -16.095000000000002, -10.043, -2.95, 7.66, 7.707000000000002, -2.162, -4.629, 9.001000000000003, -13.385, 4.335, 6.5390000000000015, -11.173000000000002, -4.534, -13.708, -17.987000000000005, -17.172, -4.315, 6.974, 8.568, -3.1010000000000004, -5.852, -12.025, -13.638, -2.611, 9.241, 7.824, -2.221, -10.117, -19.623, -14.81, -2.795, -17.207, -10.441, -3.139, 8.663, -7.621, 4.575000000000001, 8.995000000000003, 2.016, -5.794, -11.828000000000005, -12.802, -1.848, 9.122, -13.470999999999998, 9.273, -14.362, -20.871, -16.235, -2.939, 6.198, 7.2970000000000015, -1.089, -13.105, -18.759, -3.0460000000000003, -14.343000000000002, -6.352, -0.0230000000000001, -7.312999999999999, 5.932, -1.6949999999999998, -15.706, -15.915, -1.1039999999999996, 8.463000000000001, 8.661999999999999, -15.409, -15.571000000000002, -11.069, -1.004, 9.222, 9.211, -0.9089999999999998, -8.373000000000001, -13.746000000000002, -10.985, -3.585, -14.101, 7.535, 5.603999999999999, 8.309, 6.26, 1.126, 2.247, 6.377000000000002, 2.478, 0.8600000000000001, 0.271, 7.093, 8.68, 5.517, 2.1180000000000003, 8.277999999999999, 2.434, 2.7430000000000003, 8.232999999999999, 0.414, 5.714, 0.614, 2.506, 6.577000000000001, 7.367000000000001, 4.473000000000001, 0.166, 8.128, 5.710999999999999, 4.183, -1.4469999999999998, 1.55, 6.9510000000000005, 1.873, 1.761, 2.0820000000000003, 7.845, 0.501, 2.157, 7.403, 5.693, 1.964, 1.038, 4.462, 8.52, 1.55, 0.447, 5.009, 8.413, 6.904999999999999, 1.898, 1.304, 6.9620000000000015, 7.806999999999999, 5.178999999999999, 3.879, 1.865, 0.962, 6.587999999999999, 2.709, 0.8109999999999999, 7.297999999999999, 6.2810000000000015, 8.202, 3.665, 0.922, 7.56, 7.041, 2.329, 7.622999999999997, 7.143, 4.808, 1.454, -4.299, -0.6640000000000001, 8.844000000000003, -3.836, -1.709, 0.3320000000000001, 1.526, 7.221999999999999, 7.0230000000000015, 6.881, 1.5630000000000002, 2.478, 0.7709999999999999, 1.3230000000000002, 8.539, 6.644, 2.374, -0.509, 1.056, 5.5920000000000005, 7.27, 8.383000000000001, 6.489, 3.698, 5.327000000000001, 9.555, 7.382999999999999, 3.474, 0.276, -1.582, -0.0709999999999999, 2.6700000000000004, 5.1320000000000014, -0.5949999999999999, 4.726, 2.835, 6.517, 8.547, 2.565, 3.846000000000001, 9.057, 5.401, -1.7990000000000002, 2.763, 0.5980000000000003, -3.761000000000001, 6.824, 7.615, 8.274000000000001, 4.083, 0.1369999999999999, 0.4370000000000001, -1.544, 4.029999999999999, 1.1, 3.976, 6.0429999999999975, -0.1469999999999998, 8.530999999999999, 9.797, 3.234, -0.167, 2.157, 2.636, 8.927999999999997, 6.698, 1.007, -2.383, 4.154, 8.571, 7.6179999999999986, 9.228, 8.344, 6.509, 8.879999999999997, 4.445, 6.43, 8.372, 6.5790000000000015, 7.921, 6.7479999999999976, 7.941, 3.4360000000000004, 9.244, 7.377999999999999, 5.5829999999999975, 6.855, 7.949, 9.317, 8.123, 6.6960000000000015, 7.4289999999999985, 6.216, 7.57, 8.371, 7.0420000000000025, 7.803, 6.936999999999999, 7.227, 9.561, 7.103, 7.891, 6.721, 9.774, 8.222999999999999, 5.702999999999999, 7.039, 7.914, -2.3040000000000003, 3.059, 4.006, -0.2719999999999998, -2.891, -0.3070000000000001, 3.74, 5.9350000000000005, -1.91, -4.168, 8.194999999999999, 0.3559999999999999, 6.013, -5.4590000000000005, 6.685, -2.497, -1.779, 7.956999999999999, 2.784, 2.809, -3.042, -5.059, -4.878, 4.579, 2.545, -3.195, -4.944, 7.19, 3.957, -1.449, -6.2680000000000025, -1.263, 6.808, 1.5490000000000002, -1.955, -3.675, 6.777, 3.2430000000000003, 6.8249999999999975, 1.9820000000000009, -0.7680000000000007, -2.256, 6.1160000000000005, -2.292, 3.603, -6.269, -0.7180000000000001, 4.385, 4.9430000000000005, -3.1860000000000004, -0.5840000000000001, -2.753, -4.0200000000000005, -6.742000000000001, 3.992, 9.361, 4.17, -2.353, 7.888, 2.732, -4.4060000000000015, -3.7970000000000006, -2.7430000000000003, 7.185, 4.744, 1.0020000000000002, -3.345, -0.078, 5.283, -0.638, -0.157, 36.33900000000001, 35.23600000000001, 35.325, 35.2, 35.543, 35.61, 35.165, 35.649, 35.15600000000001, 35.494, 9.208, -12.827, -17.855999999999995, -7.957000000000002, 6.273, 9.217, -4.404999999999999, -12.628, -17.157, -13.316, -5.142, 1.9800000000000004, -11.408, -18.649, -18.555, -12.014, -4.5440000000000005, 6.585, 7.0070000000000014, -3.74, -7.411, 7.4689999999999985, -16.629, -6.914, 3.657, 4.061, -13.130999999999998, -16.209, -21.106, -20.079, -6.034, 5.738, 7.566, -3.779, -13.779000000000002, -19.805, -15.603000000000002, -4.691, 8.276, 7.314, -3.736, -12.779000000000002, -22.029, -17.757, -4.684, 5.517, -7.641, -5.379, -4.33, 5.17, -10.03, 3.455, 8.187000000000001, 0.7479999999999993, -8.607000000000001, -14.765999999999998, -14.965, -3.395, 7.555, -16.137999999999998, 8.184999999999999, 6.672999999999999, -23.495, -19.429, -8.35, 5.025, 6.777, -2.712, -14.946, -20.823, -4.454, -16.644000000000002, -17.095, -0.5910000000000002, -9.744, -3.3160000000000003, -13.607, -18.862, -3.44, 7.244, 7.436, -17.621000000000006, -17.463, -16.813000000000002, -17.604, 7.829, 7.536, -2.431, -11.355, -16.569000000000006, -13.364, -6.069, 6.507999999999999, -2.5460000000000003, 9.579, 6.2120000000000015, 9.583, 8.147, 6.9460000000000015, 6.685, 6.186999999999999, 5.218999999999999, 3.38, 8.979000000000003, 6.979, 8.405000000000001, 8.17, 8.472000000000001, 7.399999999999999, 5.689, 5.4579999999999975, 7.624, 9.608, 7.612999999999999, 7.907, 3.874, 2.768, 6.666, 6.914999999999999, 8.427, 7.580999999999999, 9.768, 6.533, 2.514, 8.648, 9.798, 5.632999999999999, 7.142, 8.463, 7.881, 7.483, 4.568999999999999, 8.761000000000001, 9.656, 5.279, 7.943, 2.591, 3.5210000000000004, 9.424, 4.807, 3.4019999999999992, 8.202, 7.42, 5.843, 6.7810000000000015, 5.063, 8.697000000000001, 5.729, 4.9910000000000005, 7.0120000000000005, 7.944, 9.823, 7.924000000000001, 9.394, 7.185, 9.898, 8.799000000000003, 9.439, 9.916, 8.353000000000002, 9.108, 35.003, 36.477, 35.805, 35.271, 35.146, 7.8, 2.346, -1.858, 0.8390000000000001, 9.653, 8.294, 2.306, -0.7049999999999998, 4.5, 8.41, 4.413, 0.41, -1.253, 8.604, 1.466, 6.077999999999999, 1.834, 6.2079999999999975, 8.47, 1.614, -1.821, -1.651, 6.454, 8.875, 6.747000000000001, -1.3889999999999998, 0.22, 9.12, 8.061, 1.938, -3.606, 0.498, -0.0669999999999997, -0.944, 9.529, 0.0279999999999999, 6.23, 5.9170000000000025, 2.2910000000000004, -0.424, 7.75, -1.364, 8.673, -1.5019999999999998, 2.87, 1.163, 9.733, 0.757, -2.614, 1.847, 2.8760000000000003, 6.18, 6.9179999999999975, 7.318, 9.518, 0.2560000000000002, -0.949, 9.782, 6.693, 1.5, 1.64, 8.486, 9.379, 5.058, -0.599, -1.4489999999999998, 1.331, 5.725, 8.616000000000001, 5.412000000000001, 3.669, 5.292000000000002, -0.9060000000000004, 3.652, 3.673, 9.087, 5.165, 9.468, 4.331, 8.69, 3.2, 3.914, 3.767, 0.3989999999999999, 1.0, 9.465000000000002, 4.026, 2.347, 4.802, 8.681000000000001, 2.093, 4.539, 1.626, 4.383, 8.884, 9.751, 3.326, 3.454, 9.72, 5.107, 2.208, 5.567, 5.644, 3.432, 4.735, 4.257, 4.334, 9.612, 9.071, 1.244, 4.714, 4.124, 2.846, 1.383, 8.724, 6.775, 3.655, 4.666, 8.681000000000001, 5.162000000000001, 35.61799999999999, 4.499, -1.2859999999999998, 8.462, 9.818, 1.9610000000000003, -2.059, -3.775, -4.1930000000000005, 3.1060000000000003, 8.901, -0.1820000000000004, -3.734, 0.195, 8.041, 5.711, -5.141, -9.968, 1.0489999999999997, 4.436999999999999, -3.733000000000001, -4.732, 9.812, 9.827, -2.042, -0.9089999999999998, -4.8740000000000006, -5.337999999999999, 4.1930000000000005, 9.556, 1.1949999999999998, -10.942, 0.253, 1.82, 1.816, 6.93, 9.267, 0.291, -7.2639999999999985, -4.002, -4.353, 7.380000000000001, 5.711, 1.4940000000000002, 2.7670000000000003, -0.9909999999999995, 8.971, -9.391, 3.184, 6.501, 9.333, 5.122000000000001, 2.9279999999999986, -3.575, -8.302999999999999, 1.986, 2.435, -3.0340000000000003, -0.9379999999999996, 0.6260000000000003, 4.001, 8.823, 1.624, -0.6900000000000004, -5.4830000000000005, 9.041, -4.683, -7.41, 8.457, 6.532, -7.386, -8.213000000000001, -1.505, 2.212, 8.447000000000001, -2.408, -5.751, -0.981, -0.4249999999999998, -0.3059999999999999, 2.101, 8.837, 8.579, 3.747, -3.221, -4.292, -1.4, 3.0460000000000003, 7.152, -0.7, 35.649, 35.15600000000001, 35.494, 35.61799999999999, 1.381, 3.27, 8.791, 7.019, 4.088, 2.769, 3.605, 7.1560000000000015, 9.634, 8.275, 5.386, 6.721, 4.954, 7.0630000000000015, 7.397, 5.9570000000000025, 6.896000000000001, 6.3580000000000005, 2.812, 6.273, 9.292, 3.232, 7.53, 3.417, 4.849, 6.827999999999999, 9.895, 7.496, 7.963999999999999, 3.723, 5.3130000000000015, 5.7079999999999975, 9.609, 6.862, 6.488, 4.1, -0.024, 5.464, 6.4220000000000015, 8.145, 3.087, 4.796, 8.357000000000001, 9.526, 7.0870000000000015, 5.617999999999999, 3.2460000000000004, 7.105, 7.9129999999999985, 5.516, 4.522, 3.149, 5.497000000000001, 6.9170000000000025, 8.246, 7.4220000000000015, 6.115, 4.6930000000000005, 8.697000000000001, 5.455, 4.049, 7.7730000000000015, 7.497999999999997, 3.745, 4.04, 4.073, 6.098, 3.801, 6.972, 3.885, 5.7070000000000025, 4.98, 9.361, 9.802, 6.567, 5.367999999999999, 4.888999999999999, 4.81, 8.338000000000001, 9.053, 9.669, 7.497000000000001, 8.196, 8.488, 9.635, 8.519, 9.804, 8.867999999999997, 8.712, 8.812999999999997, 8.198, 8.759, 8.391, 9.833, 9.846, 8.861999999999998, 8.398, 8.477, 9.022, 9.071, 8.814, 9.588, 9.131, 9.87, 9.382, 9.026, 3.443, 4.263999999999999, 9.194, 9.18, 5.23, 7.133000000000001, 3.709, 5.4910000000000005, 7.585, 4.061, 5.7079999999999975, 3.816, 6.443, 3.005, 6.6720000000000015, 8.841000000000003, 4.022, 7.149, 9.483, 7.504, 4.4030000000000005, 4.691, 4.972, 7.6099999999999985, 8.126000000000001, 8.808, 2.947, 3.753, 4.604, 7.5790000000000015, 5.803999999999999, 4.232, 6.327000000000001, 6.867999999999999, 8.229, 4.032, 6.5710000000000015, 8.125, 8.581, 6.3500000000000005, 5.2650000000000015, 1.746, 5.409, 5.755, 5.441, 6.216, 6.63, 8.156, 4.315, 7.819, 1.912, 3.564, 3.9270000000000014, 8.654, 8.566, 3.8, 2.656, 3.683, 6.315, 9.624, 2.125, 2.6460000000000004, 7.877999999999999, 6.234999999999999, 8.991000000000003, 6.593, 5.252999999999999, 5.2650000000000015, 4.634, 4.243, 8.084, 6.022, 1.907, 2.869, 7.01, -0.2939999999999996, 1.145, 1.548, 9.75, 6.407, 4.138, 1.931, 4.724, -8.384, 4.746, 0.8240000000000001, 9.15, 4.9350000000000005, 2.114, 9.482, 7.999, 4.648999999999999, -0.12, 0.056, 7.364999999999997, 8.302, 2.337, 3.4160000000000004, 5.216, 3.892, 8.886000000000003, 2.194, 6.918000000000001, 9.63, 1.96, 2.999, 7.59, 6.002000000000002, 4.385, -0.3720000000000001, 9.996, 9.47, 4.7410000000000005, 3.079, 4.800000000000002, 8.808, -0.4029999999999999, 4.222, 4.392, 2.023, -2.139, 5.218999999999999, 7.6019999999999985, 9.569, 1.5119999999999998, 1.932, 1.0480000000000005, 9.527, 6.960000000000001, 4.097, 3.092, 7.46, 7.096, 9.084, 8.196, 8.173, 8.435, 9.368, 8.427999999999999, 8.535, 9.774, 9.511, 8.892000000000003, 9.017, 8.986, 9.303, 9.365, 9.88, 8.684, 8.851, 8.767999999999999, 9.95, 8.023, 9.239, 8.538, 9.23, 9.265, 9.65, 9.11, 9.465, 9.866, 8.687999999999999, 8.767999999999999, 9.461, 8.282, 9.727, 9.374, 9.864, 3.479, 1.382, 5.68, 6.555, -2.502, -8.461, -15.132, -7.786, 6.854, 4.149, -5.6229999999999976, -9.042, 4.8580000000000005, -8.132, -8.259, -0.154, -6.9170000000000025, -4.216, -12.937, -9.488, 6.633000000000001, -7.6110000000000015, -3.354, 1.524, -2.7970000000000006, -1.444, -7.957999999999997, -10.044, -4.776, -0.448, 9.496, 5.662999999999999, 1.5499999999999998, -6.561999999999999, -8.899, -4.1110000000000015, 4.417, 8.706, 4.989000000000001, -9.525, -10.696, -6.9060000000000015, 1.253, 7.027, 7.9460000000000015, -5.976, 3.787, -4.603, 6.424, -0.55, 5.671, 5.6080000000000005, -3.111, -6.876, -6.297999999999999, -1.8329999999999995, 3.4080000000000004, 4.597, -6.375, -4.461, -10.84, -10.329, 1.517, 7.502999999999999, 4.07, 0.5410000000000004, -8.385, -11.684, 6.783, -9.975, -14.338, 8.883000000000003, -4.825, -1.958, -12.713, -8.394, -5.879, -7.294, 1.7919999999999998, 8.833, -8.147, -12.858, -8.725, 5.9140000000000015, 7.786, 2.793, 0.826, 1.632, -6.359, -16.512999999999998, 6.71, -1.654, 4.825, -9.62, 1.6019999999999996, -7.126, 1.93, 5.473, 4.6110000000000015, -1.3159999999999998, -6.004, -6.4700000000000015, -2.894, 8.24, -11.948999999999998, 1.3400000000000007, -2.197, -6.8100000000000005, -2.8100000000000005, -2.523, 6.4460000000000015, 5.02, 3.886000000000001, -15.845999999999998, 8.806000000000003, -8.677999999999999, 5.353, 7.55, -2.4030000000000005, -7.497000000000001, -4.726, -9.23, -9.09, 1.0760000000000003, 6.061, 7.247000000000001, -3.467, -12.533, -7.713000000000001, -0.8680000000000003, -0.3440000000000001, 5.926, 5.729, -2.9079999999999995, -11.759, -8.472000000000001, -8.186, 2.3629999999999995, 3.298, -2.0369999999999995, 0.5120000000000005, 6.4620000000000015, 6.606, -8.051, -13.581, -1.884, 2.3080000000000003, 6.496, 1.883, -1.0739999999999998, -5.5580000000000025, -11.924, -9.678, -0.8650000000000001, -7.760999999999999, -4.9140000000000015, -2.954, -0.1680000000000001, 6.6110000000000015, 9.775, -1.6609999999999996, -3.551, -7.3130000000000015, -2.833, -4.013999999999999, 4.7780000000000005, 4.898, 3.705, 5.279, -4.845999999999999, -14.404000000000002, -11.423, -4.928999999999999, 5.7079999999999975, 0.1280000000000001, -6.891, -9.947, 0.8389999999999997, -3.603, -3.5400000000000005, -2.1910000000000003, 5.601, 4.175, 0.7560000000000002, -7.798999999999999, -7.127000000000002, -2.9630000000000005, 0.901, 8.998, 7.215, 5.125, 7.552, 9.658, 9.109, 4.664, 7.653, 7.61, 7.16, 3.961, 4.745, 3.917, 8.894, 7.487, 2.86, 6.405, 6.984999999999999, 6.476, 4.188, 4.3420000000000005, 8.296, 4.9110000000000005, 6.023, 6.8420000000000005, 7.476, 5.229, 5.718999999999999, 5.907, 3.786000000000002, 7.616, 7.846999999999999, 7.0360000000000005, 3.856, 5.606000000000001, 8.503, 6.489, 5.496, 6.166, 9.531, 6.678999999999999, 5.8740000000000006, 7.755, 7.215, 4.364, 6.597, 8.908999999999997, 8.552, 4.6610000000000005, 5.117, 7.997000000000001, 4.008, 4.089, 3.869, 35.082, 35.869, 35.86400000000001, 35.50199999999999, 35.28800000000001, 35.22700000000001, 6.803000000000001, 1.7919999999999998, 2.849, 5.7920000000000025, 2.745, 7.922999999999999, 8.972000000000003, 4.849, 4.206, 6.567, 9.244, 0.1440000000000001, 5.585, 9.459, 4.510000000000002, 3.168, 3.4290000000000003, 9.431, 4.013, 3.018, 9.273, 6.5280000000000005, 3.61, 6.002999999999999, 4.633, 5.615, 2.7230000000000003, 4.189, 7.202999999999999, 4.263, 5.992000000000001, 4.963, 5.693, 8.092, 5.284000000000002, 3.008, 9.871, 5.004, 3.428, 8.495000000000001, 6.714, 1.894, 3.3340000000000005, 9.126, 3.889, 4.222, 6.336, 35.165, 36.33900000000001, 35.61, 35.23600000000001, 35.2, 35.325, 35.543, -0.6239999999999999, 8.217, 3.579, -0.3719999999999999, -5.359999999999999, 0.3270000000000001, 5.132999999999999, -0.675, -0.573, -0.0939999999999999, 4.831, -4.713, 8.02, 2.947, -2.359, 3.47, -1.456, -1.3650000000000002, 5.876, 0.4119999999999999, 9.723, 2.518, -0.968, 2.5860000000000003, 4.103, 8.734, 2.185, -0.0410000000000003, 2.987, 8.013, 3.474, -1.2440000000000002, -4.463, -2.165, 6.715, 3.8610000000000007, 9.92, 3.776, 4.945, 4.677, 2.1260000000000003, 1.2520000000000002, 3.4750000000000005, 8.212, -0.953, 1.884, -2.814, -3.3560000000000003, 4.913, 8.897, 6.391, -0.1619999999999999, -0.442, -5.223, -3.168, 3.526, -3.786, -0.5650000000000002, 1.608, -1.757, 7.019, 1.125, -0.6090000000000002, -3.611, 8.418, 6.682, 4.525, -1.332, -6.3249999999999975, 0.3790000000000001, 7.603, -0.014, 8.185, 9.559, 9.938, 7.197, 3.902, 0.981, 2.891, 7.512, 6.148, 7.0920000000000005, 3.609, 6.192, 3.729, 6.686999999999999, 7.662000000000001, 7.572, 9.488, 0.524, 4.383, 7.221999999999999, 7.302, 4.57, 2.456, 3.044, 5.593, 7.42, 8.781, 9.721, 1.4219999999999997, 6.955, 8.937000000000003, 8.668, 6.077999999999999, 0.1819999999999999, 6.744, 3.621, 5.867000000000001, 8.857999999999997, 5.6679999999999975, 8.896, 8.636000000000001, 7.775, 4.803999999999999, 2.725, 6.327000000000001, 8.958, 8.368, 5.447, 4.511, 6.671, 8.027000000000001, 7.872000000000001, 6.5870000000000015, 5.127999999999999, 6.151999999999999, 2.597, 3.845, 9.636, 3.044, 2.408, 3.377, 6.1320000000000014, 3.28, 2.8840000000000003, 5.053, 7.415, 7.414, 6.884, 5.209, 4.453, 4.623, 8.357999999999999, 9.101, 3.088, -3.1630000000000003, 1.4539999999999995, 7.04, 1.2599999999999998, -3.2390000000000003, -1.754, 3.9970000000000008, 8.790000000000001, -0.1619999999999999, -3.9140000000000006, -0.3580000000000001, 5.158, 6.247000000000001, -5.3050000000000015, 6.032, -0.8550000000000001, -2.289, 5.526, -2.4040000000000004, 6.5340000000000025, -1.246, -4.977, -5.263999999999999, 3.411, 4.25, 5.502000000000002, -4.463, 6.299, 7.355, -0.197, -5.6670000000000025, -1.778, -1.835, -1.882, 4.081, 7.9700000000000015, -6.495, -1.443, 8.11, 3.167, -0.8680000000000001, -5.232, -0.7210000000000001, 5.2620000000000005, -3.287, 0.3499999999999996, 6.2570000000000014, 9.844, 3.079, -3.158, -3.790000000000002, 7.522, 6.5630000000000015, 1.122, -0.8909999999999999, -2.3790000000000004, -3.634, 7.1160000000000005, -3.053, -3.755, 5.974, -1.242, 5.99, 7.717, 2.887, -2.817, -0.625, 3.635, 37.603, 36.319, 36.264, 36.14100000000001, 36.607, 36.626, 36.801, 37.551, 37.12600000000001, 36.904, 36.771, 36.415, 37.859, 37.143, 35.436, 35.769, 35.017, 35.965999999999994, 36.352, 35.742, 37.456, 35.238, 37.732, 36.469, 37.29, 35.336, 35.823, 35.979, 35.927, 37.2, 36.542, 36.015, 

## 9•  Pivot Table with Missing Values:
	Create a pivot table to find the average temperature for each city in 'United States' and 'Canada' for each year from 2000 to 2010. Fill any missing values with the overall average temperature of the respective country.

## 10•  Historical Temperature Comparison:
	Compare the average temperatures of 'London' and 'New York' for each year from 2000 to 2012. Identify the year in which the difference in average temperature between these two cities was the greatest and provide the details.